/*=============== GOOGLE FONTS ===============*/

@import url("https://use.typekit.net/tqb6ujk.css");

/*=============== SELF HOSTED FONTS ===============*/

@font-face {
  font-family: "Speedtest";
  src: url('../assets/fonts/Speedtest-2O7nK.ttf') format('truetype');
}

@font-face {
  font-family: "Consolas";
  src: url('../assets/fonts/CONSOLA.TTF') format('truetype');
}

/*=============== VARIABLES CSS ===============*/
:root {
  /*#region Old CSS Variables*/
  --header-height: 3.5rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --black-color: hsl(220, 24%, 12%);
  --black-color-light: hsl(220, 24%, 15%);
  --black-color-lighten: hsl(220, 20%, 18%);
  --white-color: #fff;
  --body-color: hsl(220, 100%, 97%);

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
  /*#endregion Old CSS Variables*/

  /*Colours*/
  --text-body: #A9BAB7;
  --text-body-dark: #232E2D;
  --text-header: #A0BEBC;
  --text-header-dark: #0B1312;
  --text-link: #028F87;
  --text-link-hover: #3be0d8;
  --text-link-visited: #023f8f;
  --text-alert: #f8211e;
  --text-on-action: #A9BAB7;
  --text-action-hover: #0B1312;
  --text-selected: #E8F6F3;

  --background-image-location: url("https://www.transparenttextures.com/patterns/noisy-grid.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */

  --surface-page: #232E2D;
  --surface-nav: #0B1312;
  --surface-primary: rgba(11, 19, 18, 0.80);
  --surface-secondary: #354947;

  --surface-action: #232E2D;
  --surface-action-hover: #A9BAB7;
  --surface-selected: #718683;

  --surface-action-2: rgba(11, 19, 18, 0.30);
  --surface-action-hover-2: rgba(11, 19, 18, 0.60);
  --surface-selected-2: #E8F6F3;
  
  --border-primary: #4E5E5F;
  --border-secondary: #0B1312;
  --border-action: #4E5E5F;
  --border-action-hover: #E8F6F3;
  --border-selected: #A9BAB7;
  --border-action-2: #E8F6F3;
  --border-action-hover-2: #E8F6F3;
  --border-selected-2: #E8F6F3;

  --icon-primary: #E8F6F3;
  --icon-secondary: #A9BAB7;
  --icon-action: #A9BAB7;
  --icon-action-hover: #0B1312;
  --icon-selected: #E8F6F3;
  --icon-action-2: #E8F6F3;
  --icon-action-hover-2: #E8F6F3;
  --icon-selected-2: #0B1312;

  
    /*Sizing*/
    --border-radius-none: 0px;
    --border-radius-sm: 2px;
    --border-radius-md: 4px;
    --border-radius-lg: 6px;
    --border-radius-round: 64px;

    --border-width-none: 0px;
    --border-width-sm: 1px;
    --border-width-md: 2px;
    --border-width-lg: 4px;

    --space-none: 0px;
    --space-xs: 2px;
    --space-sm: 4px;
    --space: 8px;
    --space-md: 12px;
    --space-ml: 16px;
    --space-lg: 24px;
    --space-xl: 54px;

    --space-min-width: 160px;

    --button-height: 42px;

    --icon-size-sm: 20px;
    --icon-size: 32px;

    --content-maxwidth: 1200px;

    --navbar-height-desktop: 120px;
    --navbar-height-mobile: 80px;

    /*Font and Text*/
     /*.5rem = 8px | 1rem = 16px ...*/
    --font-family-display: "Speedtest", serif;
    --font-family-heading: "open-sans-condensed", serif;
    --font-family-body: "open-sans", sans-serif;
    --font-family-mono: "Consolas", monospace;

    --font-size-h1: 2.25rem;
    --line-height-h1: 2.5rem;
    --font-size-h2: 2rem;
    --line-height-h2: 2rem;
    --font-size-h3: 1.5rem;
    --line-height-h3: 1.75rem;
    --font-size-h4: 1.25rem;
    --line-height-h4: 1.5rem;
    --font-size-h5: 1rem;
    --line-height-h5: 1.25rem;

    --font-size-body: 1rem;
    --line-height-body: 1.25rem;
    --font-size-body-sm: 0.875rem;
    --line-height-body-sm: 1rem;

    --font-weight-regular: 400;
    --font-weight-semi-bold: 600;

    font-family: "open-sans", sans-serif;
    color: var(--text-body);

    /* Padding and border will be included in elements total
    ** width and height. */
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1024px) {
  :root {
    --normal-font-size: 1rem;
  }
}

/*=============== BASE ===============*/
/*#region base*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  padding: 0;
	margin: 0 auto;

  font-family: var(--font-family-body);
  font-size: var(--font-size-body);
  color: var(--text-body);
  background-color: var(--surface-page);
}
html {
  overflow-y: scroll;
}
body {
  /*max-width: 80em;*/
  background-image: var(--background-image-location);
  background-blend-mode: overlay;
}

/*#region TEXT FORMATTING*/

h1 {
  font-family: var(--font-family-heading);
  font-weight: var(--font-weight-semi-bold);
  font-size: var(--font-size-h1);
  line-height: var(--line-height-h1);
  text-transform: uppercase;
  text-align: center;
  color: var(--text-selected);
}

.text-display {
  text-align: center;
  font-family: var(--font-family-display);
  font-size: 10vw;
  line-height: 10vw;
}

h2 {
  font-family: var(--font-family-heading);
  font-size: var(--font-size-h2);
  line-height: var(--line-height-h2);
  text-transform: uppercase;
  align-self: stretch;
  width: 100%;
  padding: 6px 12%;
  gap: 16px;
  border-top: 1px solid #4E5E5F;
  border-bottom: 1px solid #4E5E5F;
  background-color: var(--surface-primary);
}

.subdisplay {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0px;
}

.text-subdisplay {
  width: auto;
  padding: 0px;
  text-align: center;
  align-self: center;
  justify-self: center;
  border-top: none;
  border-bottom: none;
  background-color: transparent;
}

a:hover .text-subdisplay {
  color: var(--text-selected);
}

h3 {
  color: var(--text-selected);
  font-family: var(--font-family-heading);
  font-size: var(--font-size-h3);
  font-weight: 700;
  line-height: var(--line-height-h3);
  text-transform: uppercase;

  display: flex;
  flex-grow: 1;
  padding: var(--space-sm) 12%;
  gap: var(--space-md);
  border-top: 1px solid #4E5E5F;
  border-bottom: 1px solid #4E5E5F;
  background-color: var(--surface-primary);
}

h4 {
  color: var(--text-selected);
  font-family: var(--font-family-heading);
  font-size: var(--font-size-h4);
  font-weight: 700;
  line-height: var(--line-height-h4);
  text-transform: uppercase;
}

h5 {
  color: var(--text-body);
  font-family: var(--font-family-heading);
  font-size: var(--font-size-h5);
  font-weight: 700;
  line-height: var(--line-height-h5);
  text-transform: uppercase;
}

p {
  font-family: var(--font-family-body);
  font-size: var(--font-size-body);
  line-height: 1.4rem;
  max-width: 60vw;
}

/*#endregion TEXT FORMATTING*/

main{
  display: flex;
  flex-direction: column;
  padding-top: var(--header-height);
  position: relative;
}
main:first-child {
  margin-top: 0;
}

.invisible {
  visibility: hidden;
}

@media screen and (max-width: 700px) {
  .invisible {
    visibility: collapse;
  }
}

/*#endregion base*/

/*=============== REUSABLE CSS CLASSES ===============*/
/*#region reusable classes*/

/* https://www.a11yproject.com/posts/how-to-hide-content/ */
.visually-hidden:not(:focus):not(:active) {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

/* Prevent visually-hidden skip link fom pushing content around when focused */
#skip-link.visually-hidden:focus {
	position: absolute;
	top: 1rem;
	left: 1rem;
	/* Ensure it is positioned on top of everything else when it is shown */
	z-index: 999;
}

.links-nextprev {
	display: flex;
	justify-content: space-between;
	gap: .5em 1em;
	list-style: "";
	border-top: 1px dashed var(--color-gray-20);
	padding: 1em 0;
}
.links-nextprev > * {
	flex-grow: 1;
}
.links-nextprev-next {
	text-align: right;
}

.container {
  margin-inline: 2.5rem;
}

/*#region Hero*/
.hero {
  /*Layout*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  align-self: stretch;
  gap: 1rem;
  /*Style*/
  background: var(--deep-purple-colour);
  color: var(--text-light-colour);
  
  padding: 2.5rem;
}

.hero h1 {
  color: var(--text-light-colour);
}

.heroLeft,
.heroRight {
  flex-grow: 1;
}

.heroLeft {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 50%;
  gap: 1rem;
}

.heroRight{
  display: flex;
  align-items: end;
  width: 50%;
}
.heroRight img {
  max-width: 100%;
  max-height: 400px;
  object-fit: contain;
  height: fit-content;
  vertical-align: bottom;
}

/* Hero for mobile devices */
@media screen and (max-width: 700px) {
  .hero {
    /*Layout*/
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: stretch;
    align-self: stretch;
    gap: 1.5rem;
    /*Style*/
    background: var(--deep-purple-colour);
    color: var(--text-light-colour);
  }
  .heroLeft,
  .heroRight {
    width: 100%;
  }
  .heroLeft {
    padding-bottom: 0;
  }
  .heroRight {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  .heroRight img{
    max-height: 300px;
  }
}

/*#endregion Hero*/

/*#region Subpage Banner*/

.subpage-banner{
    /*Layout*/
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: center;
  align-self: stretch;
  gap: 24px;
  padding: 24px 24px;
  /*Style*/
  background: var(--deep-purple-colour);
  color: var(--text-light-colour);
}

.subpage-banner h1 {
  flex-grow: 1;
  text-align: center;
  color: var(--text-light-colour);
}

.subpage-banner a {
  color: var(--text-light-colour);
}

.banner-text {
  width: 100%;
  align-content: center;
  text-align: center;

  display: flex;
  flex-direction: column;
  gap: 12px;
}

@media screen and (max-width: 700px) {
  .subpage-banner {
    flex-direction: column-reverse;
    gap: 1rem;
  }
}


/*#endregion Subpage Banner*/

/*#region Banner*/
.banner {
  /*Layout*/
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  align-self: stretch;
  gap: 0.5rem;
  padding: 0.5rem 2.5rem;
  /*Style*/
  background: var(--deep-purple-colour);
  color: var(--text-light-colour);
}

.banner a {
  color: var(--text-light-colour);
}

.banner h1 {
  flex-grow: 1;
  text-align: center;
  color: var(--text-light-colour);
}

@media screen and (max-width: 700px) {
  .banner {
    flex-direction: column;
    gap: 1rem;
  }
}
/*#endregion Banner*/

/*#region Sections*/

section {
  gap: 2.5rem;
  padding-top: 3.75rem;
  padding-bottom: 3.75rem;
}

section.top {
  padding-top: 4.5rem;
}

section.centre {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  justify-content: center;
  justify-self: center;
}

section.pink {
  background-color: var(--pink-colour);
}

section.violet {
  background-color: var(--dark-muddy-green);
}

/*Row within a section*/
.section-row {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 1.5rem;
  align-self: stretch;
  align-items: center;
  justify-content: center;
  padding-left: 2rem;
  padding-right: 2rem;
}

.section-row.image-right {
  flex-wrap: wrap-reverse;
}

.section-row .row-column.text{
  padding-right: 4rem;
}

.section-row.image-right .row-column.text{
  padding-left: 4rem;
}

/*Column within a row*/
.row-column {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex: 1 1 0;
  max-width: 100%;
}

.row-column.text {
  align-items: flex-start;
  min-width: 9.375em;
}

.row-column.image {
  display: flex;
  align-self: center;
  justify-content: center;
  aspect-ratio: 16/9;
  max-height: 100%;
}

.diagram {
  display: flex;
  align-self: center;
  justify-content: center;
  align-content: center;
  aspect-ratio: 16/9;
  max-height: 70vh;
}

.diagram picture {
  display: flex;
  align-content: center;
  justify-content: center;
}

.diagram img {
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
}

.row-column.image picture,
.row-column.image img {
  flex-shrink: 1;
  max-height: 100%;
  width: auto;
  display: flex;
  justify-content: center;
  align-self: center;
}

/*Row Formatting for mobile*/
  @media screen and (max-width: 1200px) {
    
    /*Stacking rows properly*/
    .section-row {
      flex-direction: column;
    } 

    .section-row.image-right {
      flex-direction: column-reverse;
    }
    .section-row .row-column.text{
      padding-right: 0px;
    }

    .section-row.image-right .row-column.text{
      padding-left: 0px;
    }

    /*Column within a row*/

    .row-column.text {
      align-items: center;
    }

    .row-column.text h2 {
      text-align: center;
    }
}



/*#endregion Sections*/

/*#region Labels*/

[aria-labelledby] {
  padding-top: 0.5rem;
}

/*#endregion Labels*/

.content {
  background-color: var(--deep-green);
}

.content,
.donate,
article,
footer {
  padding-left: 8vw;
  padding-right: 8vw;
}

/*#region Buttons*/

.btn {
  display: flex;
  padding: 12px 20px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 0px;
  border: none;

  font-family: var(--font-family-heading);
  font-weight: bold;
  text-transform: uppercase;
  font-size: var(--normal-font-size);
}

.smallBtn {
  display: flex;
  padding: 4px 8px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 0px;
  border: none;

  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

.smallBtn.primary,
.btn.primary {
  background-color: var(--surface-action);
  color: var(--text-light-colour);
  border: var(--border-action) solid var(--border-width-md);
}
.smallBtn.primary:hover,
.btn.primary:hover {
  background-color: var(--surface-action-hover-2);
}
.btn.primary[type=submit] {
  align-self: flex-end;
}

.smallBtn.secondary,
.btn.secondary {
  background-color: var(--surface-nav);
  color: var(--text-on-action);
}
.smallBtn.secondary:hover,
.btn.secondary:hover {
  outline: 2px solid var(--surface-action);
  color: var(--text-on-action);
}

.smallBtn.transparent,
.btn.transparent {
  background-color: transparent;
  border: none;
  color: var(--bright-purple-colour);
}
.smallBtn.transparent:hover,
.btn.transparent:hover {
  background-color: var(--dark-muddy-green);
}

.btn.hug-content {
  display: inline-flex;
  width: fit-content;
}

.btn-row-inline {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}

.nav__buttons {
  display: flex;
  align-items: center;
  gap: 16px;
}
/*#endregion Buttons*/

/*#region Lists*/

ul {
  list-style: none;
  /* Color highlighting when pressed on mobile devices */
  /*-webkit-tap-highlight-color: transparent;*/
}

ol {
  list-style: none;
}

ul.list-bullet {
  list-style: inside;
  list-style-type: disc;
}

ul.list-bullet li+li {
  margin-top: 0.5rem;
}

ul.icon-bullet {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

ul.icon-bullet li{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

/*#endregion Lists*/

/*#region Dividers & Diagrams*/

picture:has(.divider-hr){
  display: flex;
  justify-content: center;
}

.divider-hr {
  max-width: 110%;
}

/*#endregion Dividers & Diagrams*/

/*#endregion reusable classes*/

/*=============== HEADER ===============*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: var(--z-fixed);

  background-color: var(--surface-nav);
  box-shadow: 0 2px 16px hsla(220, 32%, 8%, .3);
  border-bottom: var(--border-primary) solid var(--border-width-sm);
}

/*=============== NAV ===============*/
/*#region navigation*/
.nav {
  height: var(--header-height);
}

.nav__logo, 
.nav__burger, 
.nav__close {
  color: var(--icon-action);
}

.nav__data {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  max-width: 100px;
  display: inline-flex;
  align-items: center;
  column-gap: .25rem;
  font-weight: var(--font-semi-bold);
  /* Color highlighting when pressed on mobile devices */
  /*-webkit-tap-highlight-color: transparent;*/
}

.nav__logo picture,
.nav__logo picture img,
.nav__logo img {
  height: auto;
  width: 100%;
}

.nav__logo i {
  font-weight: initial;
  font-size: 1.25rem;
}

.nav__toggle {
  position: relative;
  width: 32px;
  height: 32px;
}

.nav__burger, 
.nav__close {
  position: absolute;
  width: max-content;
  height: max-content;
  inset: 0;
  margin: auto;
  font-size: 1.25rem;
  cursor: pointer;
  transition: opacity .1s, transform .4s;
}

.nav__close {
  opacity: 0;
}

.nav__menu {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
}

.nav__list {
  display: flex;
  justify-content: center;
}

/* Navigation for mobile devices */
@media screen and (max-width: 1118px) {
  .nav__menu {
    position: absolute;
    left: 0;
    top: 2.5rem;
    width: 100%;
    height: calc(100vh - 3.5rem);
    overflow: auto;
    pointer-events: none;
    opacity: 0;
    flex-direction: column;
    justify-content: flex-start;
    gap: 16px;
    background-color: var(--surface-nav);
    /*transition: top .4s, opacity .3s;*/
  }
  .nav__menu::-webkit-scrollbar {
    width: 0;
  }
  .nav__list {
    background-color: var(--surface-nav);
    padding-top: 1rem;
    flex-direction: column;
  }
  .nav__buttons {
    flex-direction: column;
  }
}

.nav__link {
  color: var(--text-on-action);
  font-weight: var(--font-semi-bold);
  
  padding: 1.25rem 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color .3s;

  font-family: var(--font-family-heading);
  text-transform: uppercase;
}

.nav__link a {
  color: var(--text-on-action);
}

.nav a[href][aria-current="page"] {
  color: var(--text-selected);
  text-decoration: underline;
}

.nav__link:hover {
  background-color: var(--surface-secondary);
  color: var(--text-light-colour);
}

.nav__link:hover a{
  color: var(--text-light-colour);
}

/* Show menu */
.show-menu {
  opacity: 1;
  top: 3.5rem;
  pointer-events: initial;
}

/* Show icon */
.show-icon .nav__burger {
  opacity: 0;
  transform: rotate(90deg);
}
.show-icon .nav__close {
  opacity: 1;
  transform: rotate(90deg);
}

/*back to top button*/
.scroll-top {
  position: absolute; /* relative to its positioned parent */
  top: 120vh; /* starts below the bottom of the screen */
  bottom: 3rem; /* stops scrolling before the end */
  right: 2rem; /* offset from right hand side */
}

.scroll-top__link {
  position: -webkit-sticky; /* for Safari */
  position: sticky; /* 'relative' until element reaches ... */
  top: 90vh; /* 90% viewport height from the top, when it becomes 'fixed' - until its container toggles it back to 'relative' */
}
/*#endregion navigation*/

/*=============== DROPDOWN ===============*/
.dropdown__item {
  cursor: pointer;
}

.dropdown__arrow {
  font-size: 1.25rem;
  font-weight: initial;
  transition: transform .4s;
}

.dropdown__add {
  transition: transform .2s;
}

.dropdown__link, 
.dropdown__sublink {
  padding: 1.25rem 3.5rem 1.25rem 3.5rem;
  color: var(--text-on-action);
  background-color: var(--surface-page);
  border-bottom: var(--border-action) solid var(--border-width-sm);
  display: flex;
  align-items: center;
  column-gap: .5rem;
  font-weight: var(--font-weight-regular);
  text-transform: uppercase;
  transition: background-color .3s;
}


.dropdown__link a,
.dropdown__sublink a {
  color: var(--text-dark-colour);
}

.dropdown__link i, 
.dropdown__sublink i {
  font-size: 1.25rem;
  font-weight: initial;
}

/*HOVER: transition only at desktop sizes*/
@media screen and (min-width: 1118px) {
  /*Show dropdown menu & submenu */
  /* Show dropdown menu & submenu */
  .dropdown__item:hover .dropdown__menu, 
  .dropdown__subitem:hover > .dropdown__submenu {
    max-height: 1000px;
    transition: max-height .4s ease-in;
  }

  /* Rotate dropdown icon */
  .nav__link:hover .dropdown__arrow {
    transform: rotate(180deg);
  }

  .dropdown__subitem:hover .dropdown__add {
    transform: rotate(45deg);
  }
}

@media screen and (max-width: 1118px) {
  /*Show dropdown menu & submenu ON CLICK - NOT HOVER*/
  .dropdown__item.show-sub .dropdown__menu,
  .dropdown__subitem.show-sub > .dropdown__submenu {
    max-height: 1000px;
    transition: max-height .4s ease-in;
  }

  /*Rotate icon when clicked*/
  .dropdown__item.show-sub .dropdown__arrow,
  .dropdown__subitem.show-sub .subdropdown__arrow {
    transform: rotate(180deg);
  }

  .dropdown__subitem.show-sub .dropdown__add {
    transform: rotate(45deg);
  }

  .dropdown__sublink{
    padding-left: 4.5rem;
  }
}

.dropdown__link:hover, 
  .dropdown__sublink:hover {
    background-color: var(--surface-nav);
    color: var(--text-light-colour);
  }

  .dropdown__link:hover a, 
  .dropdown__sublink:hover a{
    color: var(--text-light-colour);
  }

.dropdown__menu, 
.dropdown__submenu {
  max-height: 0;
  overflow: hidden;
  transition: max-height .4s ease-out;
}


/*=============== DROPDOWN SUBMENU ===============*/
.dropdown__add {
  margin-left: auto;
}

/*#region links*/
/*must come after nav for hierarchy reasons*/
/*Remove link styling - re-add this for inline text*/
a {
  color: var(--text-link);
  text-decoration: none;
}

a.inline {
  color: var(--text-body);
  text-decoration: underline;
}

a:active {
  color: var(--text-link);
}


a:hover {
  color: var(--text-link-hover);
  cursor: pointer;
}
/*#endregion links*/

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 340px) {
  .container {
    margin-inline: 1rem;
  }

  .nav__link {
    padding-inline: 1rem;
  }
}

/* For large devices */
@media screen and (min-width: 1118px) {
  .container {
    /*margin-inline: auto;*/
  }

  /*Main must be padded to account for difference in nav height*/
  main{
    padding-top: calc(var(--header-height) + 2rem);
  }

  .nav {
    height: calc(var(--header-height) + 2rem);
    display: flex;
    /*justify-content: space-between;*/
  }
  .nav__toggle {
    display: none;
  }
  .nav__list {
    height: 100%;
    display: flex;
    flex-grow: 1;
    column-gap: 3rem;
  }
  .nav__link {
    height: 100%;
    padding: 0;
    justify-content: initial;
    column-gap: .25rem;
  }
  .nav__link:hover {
    background-color: transparent;
  }

  .dropdown__item, 
  .dropdown__subitem {
    position: relative;
  }

  .dropdown__menu, 
  .dropdown__submenu {
    max-height: initial;
    overflow: initial;
    position: absolute;
    left: 0;
    top: 6rem;
    opacity: 0;
    pointer-events: none;
    /*transition: opacity .3s, top .3s;*/
  }

  .dropdown__link, 
  .dropdown__sublink {
    padding-inline: 1rem 3.5rem;
  }

  .dropdown__subitem .dropdown__link {
    padding-inline: 1rem;
  }

  .dropdown__submenu {
    position: absolute;
    left: 100%;
    top: .5rem;
  }

  /* Show dropdown menu */
  .dropdown__item:hover .dropdown__menu {
    opacity: 1;
    top: 5.5rem;
    pointer-events: initial;
    transition: top .3s;
  }

  /* Show dropdown submenu */
  .dropdown__subitem:hover > .dropdown__submenu {
    opacity: 1;
    top: 0;
    pointer-events: initial;
    transition: top .3s;
  }
}

/*#region Inputs*/

form {
  max-width: 30em;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

label {
  font-size: var(--normal-font-size);
  font-family: var(--body-font);
  color: var(--text-dark-colour);
  font-weight: bold;

  display: inline-flex;
  padding-bottom: 12px;
}

label.below {
  font-size: var(--small-font-size);
  padding-top: 8px;
}

label.below.right {
  align-self:flex-end;
  text-align: end;
}

input {
  font-size: var(--normal-font-size);
  font-family: var(--body-font);
  color: var(--text-dark-colour);

  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 30em;
  padding: 12px;

  border: 2px solid var(--dark-muddy-green);
  border-radius: 0.25rem;
  background-color: var(--text-light-colour);
  cursor: pointer;
}

.text-area-container {
  display: flex;
  flex-direction: column;
  max-width: 30em;
}

textarea {
  font-size: var(--normal-font-size);
  font-family: var(--body-font);
  color: var(--text-dark-colour);

  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 30em;
  min-height: 200px;
  padding: 12px;

  border: 2px solid var(--dark-muddy-green);
  border-radius: 0.25rem;
  background-color: var(--text-light-colour);
  cursor: pointer;

  resize: vertical;
}

/*#endregion Inputs*/

/*#region Checkboxes*/

input[type=checkbox] {
  max-width: 24px;
  color: var(--bright-purple-colour);
}

.check-with-desc {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

/*#endregion Checkboxes*/

/*CUSTOM DROPDOWNS*/

.custom-select {
  position: relative;
  display: inline-block;
  width: 300px;
  max-width: 100%;
}

.select-button {
  font-size: var(--normal-font-size);
  font-family: var(--body-font);
  color: var(--text-dark-colour);

  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 12px;

  border: 2px solid var(--dark-muddy-green);
  border-radius: 0.25rem;
  background-color: var(--white-colour);
  cursor: pointer;
}

.dropdown-arrow {
  font-size: 24px;
  transition: transform ease-in-out 0.3s;
}

.select-dropdown-wrapper {
  position: absolute;
  top: 96%;
  left: 0;
  width: 100%;
  border: 2px solid var(--dark-muddy-green);
  border-top: none;
  border-radius: 0px 0px 4px 4px;
  
  background-color: var(--white-colour);
  list-style: none;
  padding: 10px;
}

.select-dropdown {
  max-height: 200px;
  overflow-y: auto;

  scrollbar-width: thin;
  scrollbar-color: var(--dark-muddy-green) var(--white-colour);
}

.select-dropdown::-webkit-scrollbar {
  width: 6px;
}

.select-dropdown::-webkit-scrollbar-track {
  background: var(--white-colour);
  border-radius: 25px;
}

.select-dropdown::-webkit-scrollbar-thumb {
  background: var(--dark-muddy-green);
  border-radius: 25px;
}

.select-dropdown::-webkit-scrollbar-button,
.select-dropdown::-webkit-scrollbar-button:decrement,
.select-dropdown::-webkit-scrollbar-button:increment {
  height: 0;
  width: 0;
  display: none;
}

.select-dropdown li {
  margin-bottom: 4px;
  margin-right: 4px;
  padding: 12px;
  cursor: pointer;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

/* Highlight the selected option */
.select-dropdown li.selected {
  background-color: var(--dark-muddy-green);
  border-radius: 4px;
  font-weight: bold;
}

.select-dropdown li:hover,
.select-dropdown li:focus {
  background-color: var(--dark-muddy-green);
  border-radius: 4px;
}

.select-dropdown.hidden,
.select-dropdown-wrapper:has(.select-dropdown.hidden) {
  display: none;
}

.select-button[aria-expanded="true"] .dropdown-arrow {
  transform: rotate(180deg);
}

/*#region Articles*/

article {
  display: flex;
  flex-direction: column;
  align-self: center;
  max-width: 60em;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
  gap: 1.4rem;
}

article ul {
  list-style-type: disc;
  text-align: justify;
}

article p {
  text-align: justify;
  max-width: 100%;
}

/*#endregion Articles*/

/*#region Policies*/
.policy-list {
  width: 100%;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 1.5rem;
  list-style: none;
  padding-left: 0;
}

.policy-card{
  border-bottom: 2px solid var(--bright-purple-colour);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5rem;
}

.policy-card img {
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1/1;
  width: 100%;
  height: auto;
  max-width: 140px;
  min-width: 140px;
  overflow: hidden;
}

.policy-card div {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-self: stretch;
  align-items: start;
  justify-content: center;
  gap: 1rem;
  padding-bottom: 1rem;
}

/*Mobile view for policies*/
@media screen and (max-width: 1200px) {
  .policy-list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 100%));
    justify-content: center;
    gap: 1.5rem;
    list-style: none;
    padding-left: 0;
  }

  .policy-card div {
    align-self: stretch;
    padding-left: 1rem;
  }
}

@media screen and (max-width: 600px) {

  .policy-card img {
    min-width: 140px;
  }

  .policy-card,
  .policy-card div {
    flex-direction: column;
    align-items: center;
  }

}

/*#endregion Policies*/

/*#region cards*/
.card-list {
  width: 100%;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 0.333fr));
  gap: 24px;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 12px;
  padding: 24px;

  background-color: var(--surface-primary);
}

.card-photo {
  display: inline-block;
  position: relative;
  width: 160px;
  height: 160px;
  overflow: hidden;
  border-radius: 50%;
}

.card-photo img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-name {
  font-weight: 700;
  font-size: large;
}

.card ul {
  display: flex;
  flex-direction: row;
  gap: 12px;
  flex-wrap: wrap;
  justify-content: center;
}

.card li {
  padding: 4px 8px;
  border-radius: 24px;
  background-color: var(--pink-colour);
  text-align: center;
}

.card li i {
  color: var(--text-light-colour);
}

/*Variants on Card Type*/

.card.testimonial {
  padding: 0px ;
}

.card.testimonial q {
  quotes: none;
  font-family: var(--font-family-mono);
  font-family:;

  display: flex;
  flex: 1 1 auto;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: justify;

  padding: var(--space-xl) var(--space-md) var(--space-md) var(--space-md);
}

.card.testimonial .persona {
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
  gap: var(--space-lg);
  padding: var(--space-md);

  align-items: center;
  justify-content: center;
  text-align: left;

  width: 100%;

  border-top: var(--border-primary) solid var(--border-width-sm);
  background-color: var(--surface-nav);
}

.card .persona p {
  width: 100%;
}

.card .persona i {
  font-size: var(--font-size-h1);
}
/*#endregion Tutors*/

/*#region FAQ*/

.FAQ {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.faq-list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
  gap: 1.5rem;
  padding-left: 0;
}

/*Mobile view for FAQ*/
@media screen and (max-width: 800px) {
  .faq-list {
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(200px, 100%));
  }
}

details {
  color: var(--text-light-colour);

  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 8px;
}

summary {
  display: flex;
  flex-direction: row;
  padding: 24px;
  align-items: center;
  border-radius: 8px;

  background-color: var(--turq-colour);
  cursor: pointer;
}

summary h3 {
  width: 100%;
}

summary::marker {
  content: "";
}

summary i {
  font-size: 2rem;
}

details[open] summary i {
  transform: rotate(45deg);
  transition: transform .2s;
}

details:not([open]) summary i {
  transform: rotate(0deg);
  transition: transform .2s;
}

details[open] {
  background-color: var(--turq-colour);
}

details[open] .faq-answer {
  animation: animateDown 0.2s linear forwards;
  padding: 0px 24px 24px 24px;
}

@keyframes animateDown {
  0% {
    opacity: 0;
    transform: translateY(-15px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.faq-answer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.faq-answer ul {
  list-style-type: disc;
  list-style-position: inside;
}

.faq-answer li {
  padding-bottom: 8px;
}

/*#endregion FAQ*/

/*#region Footer*/

footer {
  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: center;
  flex-wrap: wrap-reverse;

  width: 100%;
  padding-top: 24px;
  padding-bottom: 64px;
  gap: 24px;

  background-color: var(--surface-nav);
  color: var(--text-light-colour);
  border-top: var(--border-width-sm) solid var(--border-action);
  font-size: 1rem;
}

.logo-copyright {
  display: flex;
  flex-direction: column;

  justify-content: center;
}

.logo-copyright img {
  max-width: 100%;
  height: auto;
}

.footer-links {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  justify-content: center;

  gap: 32px;
}

.footer-links a {
  color: var(--text-light-colour);
}

.footer-links a:active {
  color: var(--text-light-colour);
}

/*#endregion Footer*/

/*EXTERNAL EMBED - LINKEDIN FEED*/
/*#region LinkedInFeed*/

/*Centre the posts*/
.tb_hc_post_container.tb_post_container_qr {
  justify-content: center;
}

/*Remove the review box*/
.tb_hc_post_container > div:first-child:has(.fixed-qr-card) {
  display: none;
}

.tb_onsite_upload_btn {
  display: none;
}

.tb_hc_post_slider {
  padding: 0;
}

/*#endregion LinkedInFeed*/

/*EXTERNAL EMBED - STUDENT ASSESSMENT FORM*/
/*#region StudentAssessment*/
div:has(.embedded-google-form) {
  height: 80vh;
}
/*#endregion StudentAssessment*/

/*#region LOOPING MARQUEE*/
.marquee-wrapper {
  display: flex;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 18em;
  background-color: var(--surface-primary);
  border-top: 1px solid #4E5E5F;
  border-bottom: 1px solid #4E5E5F;
}

.marquee-track {
  display: flex;
  align-self: center;
  justify-content: flex-start;
  align-items: center;

  position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: marquee-horizontal 10s linear infinite;
}

/*Make the marquee slide*/
@keyframes marquee-horizontal {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

/*Pause the marquee on hover*/
@media only screen and (min-width: 900px) {
  .marquee-track:hover {
    animation-play-state: paused;
  }
}

.marquee-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: stretch;
}

.marquee-item {
  display: flex;
  width: 18em;
  padding-left: 1em;
  padding-right: 1em;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex: 0 0 auto;
}

.marquee-image {
  position: relative;
  overflow: hidden;
  width: 16em;
  height: 16em;
  background-color: none;
  object-fit: contain;

  /*un-hover tf stuff*/
  transform: scale3d(1, 1, 1);
  transform-style: preserve-3d;
}

.marquee-image:hover {
  transform: scale3d(1.2, 1.2, 1);
  transform-style: preserve-3d;
  cursor: pointer;
}

.marquee-image picture,
.marquee-image .image {
  width: 16em;
  height: 16em;
  object-fit: contain;

  /*un-hover tf stuff*/
  transform: scale3d(1, 1, 1);
  transform-style: preserve-3d;
}

.marquee-image:hover picture,
.marquee-image:hover picture .image {
  transform: translate3d(0px, 0px, 0px) scale3d(1.2, 1.2, 1) rotateX('0deg') rotateY('0deg') rotateZ('0deg') skew(0deg);
  transform-style: preserve-3d;
}

/*#endregion LOOPING MARQUEE*/

/*#region CV*/

.CV {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  width: 100%;
  gap: var(--space-lg);
}

.CV .heading {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  padding-right: 6%;
  padding-bottom: var(--space-sm);
  border-top: 1px solid #4E5E5F;
  border-bottom: 1px solid #4E5E5F;
  background-color: var(--surface-primary);
}

.company-role {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.company-role h3 {
  border-top: none;
  border-bottom: none;
  background-color: transparent;
}

.CV .roles-list {
  display: flex;
  flex-direction: row;
  gap: var(--space-md);
}

.CV .roles-list li {
  font-size: var(--font-size-body-sm);
  text-align: center;

  background-color: var(--surface-secondary);
  border: var(--border-width-sm) solid var(--border-secondary);
  padding: var(--space-xs) var(--space-md);
}

.location {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 12%;
}

.job-info {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.job-info .text-div {
  padding-left: 12%;
}

.job-info .image-div {
  max-height: 100%;
}

.job-image {
  max-width: 30%;
  min-width: 30%;
  max-height: 100%;
}

.job-image img {
  max-width: 80%;
  height: auto;
}

@media screen and (max-width: 800px) {
  .CV .heading {
    gap: var(--space-md);
    padding-bottom: var(--space-md);
  }
  .company-role {
    flex-direction: column;
    align-items:flex-start ;
    padding-left: 12%;
  }
  .company-role h3 {
    padding-left: 0%;
  }
}

.tools-list {
  display: flex;
  flex-direction: row; 
  flex-wrap: wrap;
  gap: var(--space-md);
}

.tools-list li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: var(--space-sm);
  height: 136px;
  width: 96px;
  text-align: center;
  background-color: var(--surface-nav);
}

.tools-list .tool-icon {
  display: flex;
  align-self: center;
  justify-content: center;
  aspect-ratio: 1/1 ;
  max-height: 64px;
}

.tool-icon picture,
.tool-icon picture img {
  flex-shrink: 1;
  max-height: 64px;
  max-width: 100%;
  height: auto;
  width: auto;
  display: flex;
  justify-content: center;
  align-self: center;
  object-fit: contain;
}

/*#endregion CV*/

/*#region writing-blocks*/
  .text-div {
    display: flex;
    align-self: stretch;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    gap: var(--space-lg);
    background-color: var(--surface-primary);
    padding: var(--space-lg) var(--space-ml);
  }

  .text-div ul {
    list-style-type: square;
  }

  .text-div li + li {
    margin-top: var(--space-md);
  }
/*#endregion writing-blocks*/