---js
const layout = "layouts/post.njk";

const eleventyNavigation = {
	key: "Dot Dot Loans",
	parent: "Morses Club"
};

const tags = ["project","morses","case-study"];

const title = "Dot Dot Loans";
const subheading = "for Morses Club";
---



Dot Dot Loans were a subsidiary of Morses Club PLC a UK consumer finance company that offered a variety of loan products including home collected credit and online lending. Dot Dot Loans provided online loans between £100 and £1000. The company entered administration on November 17, 2023, and is no longer offering new loans.

At the time of this project, Morses were making a push to move the majority of their services to digital and improve the usability of their existing digital lending services. They had a few screens already prepared on Figma representing the Dot Dot Loans brand, but not much more.

The majority of this work comes from the beginning of my time with Morses Club.
