---js
const layout = "layouts/post.njk";

const eleventyNavigation = {
	key: "Finance Portal",
	parent: "Morses Club"
};

const tags = ["project","morses","case-study"];

const date = "2023-01-01";

const title = "Finance Portal";
const subheading = "for Morses Club";
---

The customer portal served as a vital hub for users to manage personal data, apply for finance, make payments, and access loan information. However, the platform design was outdated, and modifying it previously depended heavily on third party development.

The portal suffered from an outdated design that underutilised available screen space; lacking modern features and clear functionality. It also lacked crucial visual cues such as icons, badges and distinct button shapes, compromising its usability and clarity of purpose for users.