---js
const layout = "layouts/post.njk";

const eleventyNavigation = {
	key: "Form Fatigue Solution",
	parent: "Morses Club"
};

const tags = ["project","morses","case-study"];

const title = "Form Fatigue Solution";
const subheading = "for Morses Club";
---

Having no existing customer data to rely on meant that the initial design for the digital customer journey had a degree of freedom and exploration in its design. However, it also meant that the initial Income and Expenditure page design was primarily driven by business interests and compliance guidelines, rather than being more tailored to fit Morses’ actual user base.

The Income and Expenditure section of our online form faced poor customer reception. Customers could not figure out the purpose of the disposable income calculation, or why certain inputs were required from them. This was not aided by the length of the page, which was much longer than other pages in the form.
