---js
const layout = "layouts/post.njk";

const eleventyNavigation = {
	key: "PAM",
	parent: "Morses Club"
};

const tags = ["project","morses","case-study"];

const title = "Principle Application Manager";
const subheading = "for Morses Club";
---

Internal tool created for Morses Club, with intent to replace external tools for additional customer application checks. Its implementation resulted in a 75% increase in acquisition journey leads while reducing dependency on third-party tools, leading to cost savings for the business.
