---js
const layout = "layouts/subpage.njk";

const eleventyNavigation = {
	key: "UXR Reports",
	parent: "E-Save"
};

const title = "Meet the Team";
const subheading = "Meet our dedicated volunteers, working hard to keep Give and Grow running!";
---