---js
const layout = "layouts/post.njk";

const eleventyNavigation = {
	key: "UXR Reports",
	parent: "E-Save"
};

const tags = ["project","case-study","e-save"];

const date = "2025-06-06";

const title = "UXR Reports";
const subheading = "Shifting the direction for E-Save";
---



Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam augue turpis, placerat sed interdum eget, maximus non dui. Duis eget pulvinar purus. Nulla molestie ullamcorper congue. Suspendisse potenti. Nullam a interdum neque. Cras sit amet ipsum eget ligula egestas dignissim non non orci. Praesent malesuada, neque in convallis dictum, erat purus efficitur velit, vel suscipit lacus massa sit amet ipsum. Etiam vel cursus turpis, a vulputate urna. Nullam luctus interdum orci sed commodo. Fusce eget tellus hendrerit mi scelerisque dapibus. Praesent viverra orci quis elit gravida, et feugiat nulla commodo. Sed metus arcu, congue eleifend lacus quis, tincidunt semper dui. Mauris et nulla rutrum, congue massa vel, aliquet lacus. Donec semper tortor id sem eleifend faucibus. Vivamus eu massa vel libero lacinia commodo at eu est. Vestibulum tristique vehicula felis, eu aliquet libero imperdiet at.

Aenean ut pharetra quam, eu faucibus dolor. Aenean cursus risus nunc, non tincidunt enim efficitur vel. Quisque nec lacus felis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas nisl leo, ornare at quam ac, posuere ultrices purus. Morbi imperdiet, odio a pellentesque imperdiet, lectus dolor efficitur ipsum, eu pretium leo leo eget mi. Vestibulum consequat viverra felis, quis mollis leo vestibulum quis.

Mauris ullamcorper, elit ac sollicitudin blandit, arcu est rutrum eros, sit amet mattis justo enim congue dolor. Aliquam lacinia tincidunt diam. Aliquam vel ex id sapien volutpat consequat vitae eu libero. Donec auctor tempus sagittis. Nulla non rhoncus felis. Nam vel mi varius, viverra tortor imperdiet, sollicitudin mi. Ut semper dui nunc, sed ultricies mauris tincidunt eu. Etiam mauris lorem, ornare non bibendum non, auctor vitae lectus. Aenean et commodo nunc. Curabitur at nisl pellentesque, vehicula felis ut, auctor risus. Donec commodo elit a ullamcorper tempor. Nulla consequat, erat sit amet congue lacinia, felis urna eleifend nunc, nec vestibulum erat quam ac elit. Nulla sollicitudin euismod congue. Praesent eleifend imperdiet fermentum. Proin faucibus faucibus eros ac sagittis. Donec efficitur luctus posuere.

Nullam consectetur nunc a nunc tempor, et venenatis urna volutpat. Suspendisse consequat commodo tortor et consectetur. Phasellus metus nunc, fermentum ac erat sed, consequat imperdiet tellus. Ut egestas felis ante, a maximus lacus congue vel. Curabitur ligula elit, blandit et ipsum id, posuere consequat enim. Praesent a iaculis justo, sit amet placerat massa. Fusce tempor elit nisi, id maximus odio blandit a. Praesent lacinia eleifend diam, et accumsan risus pulvinar eget. Maecenas scelerisque scelerisque diam eget porttitor. Aliquam tincidunt odio nec lectus imperdiet vulputate. Quisque sodales orci eu tellus ultricies ullamcorper. Suspendisse lacinia ligula ut ligula sagittis varius. Integer nunc tellus, semper at facilisis vitae, varius id ligula.

Maecenas vel felis vel mi lobortis tincidunt. Duis purus augue, fermentum a tristique facilisis, condimentum ac nibh. Suspendisse tristique, orci ut lacinia semper, orci massa viverra arcu, eu pellentesque lectus velit nec massa. Sed sit amet imperdiet urna. Cras vestibulum leo volutpat, elementum turpis elementum, tristique neque. Integer ut sagittis nunc. Vivamus sed augue in augue tincidunt maximus non sit amet lorem. Vestibulum sed neque vehicula, viverra nulla sed, rhoncus eros. Phasellus eget justo lectus. Nam ac aliquam eros. Morbi egestas leo erat, id imperdiet sapien gravida vitae. Ut lobortis venenatis tellus at malesuada.

Curabitur mollis ultricies arcu, at interdum turpis maximus vel. Praesent semper, nunc dictum dignissim vestibulum, odio risus bibendum elit, id lacinia justo mi ac enim. Aliquam in cursus lorem. Nam accumsan fermentum semper. Etiam iaculis, metus fringilla consequat scelerisque, lacus lectus luctus felis, vitae finibus massa nunc non nulla. Praesent non risus enim. Cras porttitor a metus sed gravida. Curabitur eget erat leo. Donec accumsan sollicitudin pellentesque. Proin sit amet pretium eros, sit amet venenatis mi. Phasellus mi augue, mollis nec felis sit amet, finibus eleifend dolor. Donec ultrices aliquet metus, at egestas augue consectetur tristique. Sed a pharetra neque.

Proin feugiat tincidunt lectus, ut pellentesque nisi ornare ut. Nam nibh tortor, varius non ex ut, venenatis tempor magna. Nunc a lorem eros. Ut orci erat, dapibus quis ullamcorper nec, mattis venenatis lorem. Curabitur vitae justo est. Morbi leo nulla, bibendum nec varius in, blandit id dolor. Sed egestas fermentum bibendum. Curabitur non est sit amet risus aliquet egestas. Sed ipsum risus, porttitor quis justo sed, volutpat lobortis neque.

Integer orci lacus, pretium vel finibus et, pulvinar eget nisi. Vestibulum eget nibh a mauris suscipit iaculis. In sit amet turpis libero. Nulla facilisi. Praesent blandit massa id massa sodales, et maximus magna fringilla. In hac habitasse platea dictumst. Maecenas lobortis finibus nunc, eget posuere ligula iaculis ut. Praesent efficitur, sem ut fringilla pretium, lacus justo pharetra nulla, vel porta nisi nisi in est.

Praesent condimentum lectus at tortor aliquet dapibus. Pellentesque eleifend massa sed metus accumsan ullamcorper. Fusce vulputate congue tellus eu fermentum. Maecenas ac felis elit. Nam mattis dolor ac nulla feugiat, ac consequat nisl consequat. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec a suscipit nibh. Etiam gravida nisi ante, quis pharetra nibh feugiat sed. Ut in ipsum vel ligula molestie pulvinar. Mauris ut massa id odio condimentum tincidunt vitae finibus nunc. Proin sit amet ligula ornare, auctor lorem sed, iaculis nisi. Integer vel venenatis turpis. Maecenas vehicula porta erat, sit amet semper tellus maximus non. Ut egestas neque vitae interdum venenatis.

Morbi enim dolor, ultrices nec magna consectetur, luctus tincidunt enim. Vestibulum imperdiet ornare mi, at luctus libero pellentesque eu. Ut porttitor, erat eget fermentum sagittis, lacus diam condimentum ante, non rutrum purus est a libero. Fusce tempor interdum blandit. Duis et auctor lectus. Donec lobortis dictum ligula quis condimentum. Duis eleifend mi at augue pharetra, vitae interdum orci malesuada. Duis dui orci, tempus sed erat semper, vulputate volutpat odio. Duis id augue ullamcorper, vehicula nisi id, scelerisque velit. Phasellus suscipit nisl et turpis mollis, ut pulvinar ipsum blandit. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Proin tempus pharetra risus, convallis tempor arcu sagittis eget. 