---
eleventyNavigation:
    key: "About"
    order: 2

title: About

roles: "UX / UI | Web Design | Frontend"
description: "Designer, Developer, Dilligent-worker. Adept at creating design systems suitable for a variety of scope sizes. Experienced mainly in the finance and non-profit sectors."

---
<section class="centre" id="about-snippet">
    <div class="section-row">
        <div class="row-column text">
            <h2 style="text-align: center;">{{roles}}</h2>
            <p class="text-div">{{description}}</p>
            {% set testList = testimonials | shuffle %}
            {% for testimonial in testList.slice(0,1) %}
            <li class="card testimonial">
                <q>{{testimonial.testimonial}}</q>
                <div class="persona"><i class="ri-chat-2-fill"></i><p><b>{{testimonial.persona}}</b></p></div>
            </li>
            {% endfor %}
        </div>
        <div class ="row-column image">
            <img src="https://picsum.photos/800/800">
        </div>
    </div>
</section>

<section class="centre" id="CV">
    <div class="CV" id="skills">
        <div class="heading">
            <div class="company-role">
                <h3>Tools and skills</h3>
                <ul class="roles-list">

                    {% set categories = [] %}
                    {% for tool in tools %}
                        {% set categories = (categories.push(tool.type), categories) %}
                    {% endfor %}
                    {% set uniqueCategories = [] %}
                        {% for category in categories %}
                            {% if category in uniqueCategories %}
                            {% else %}
                                {% set uniqueCategories = (uniqueCategories.push(category), uniqueCategories) %}
                            {% endif %}
                        {% endfor %}
                    {% for uniqueCategory in uniqueCategories %}
                    
                    <a href="#{{uniqueCategory}}">
                        <li>
                            {{uniqueCategory}}
                        </li>
                    </a>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <!--<div class="job-info">
            <ul class="tools-list" id="tools">
                {% for tool in tools %}
                <li>
                    <div class="tool-icon" >
                        <img src="{{'../assets/images/3rd-party-logos/tools/' + tool.icon}}" loading="lazy" alt="#TODO">
                    </div>
                    <h5>{{tool.name}}</h5>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="job-info" x-init="toolsList = await (await fetch('../_data/tools.json')).json()" x-data="{ toolsList: [] }">
            <ul class="tools-list">
                <template x-for="tool in toolsList">
                    <li>
                        <div class="tool-icon" >
                            <img :src="'../assets/images/3rd-party-logos/tools/' + tool.icon" loading="lazy" alt="#TODO">
                        </div>
                        <h5 x-text="tool.name"></h5>
                    </li>
                </template>
            </ul>
        </div>-->
        <div class="job-info">
            <ul class="tools-list" x-data="toolData">
                <template x-if="!tools">
                    <li>
                        <p>loading...</p>
                    </li>
                </template>
                <template x-for="tool in tools">
                    <li>
                        <div class="tool-icon" >
                            <img :src="'../assets/images/3rd-party-logos/tools/' + tool.icon" loading="lazy" alt="#TODO">
                        </div>
                        <h5 x-text="tool.name"></h5>
                    </li>
                </template>
            </ul>
        </div>
    </div>
    {% for job in cv %}
    <div class="CV">
        <div class="heading">
            <div class="company-role">
                <h3>{{job.company}}</h3>
                <ul class="roles-list">
                    {% for role in job.roles %}
                    <li>{{role}}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="location">
                <p>{{job.location}}, {{job.timePeriod}}</p>
                <a class="smallBtn secondary" href="{{job.link}}">Visit<i class="ri-arrow-right-s-fill"></i></a>
            </div>
        </div>
        <div class="job-info">
            <div class="text-div">
                <ul>
                {% for point in job.bulletPoints %}
                    <li>{{point}}</li>
                {% endfor %}
                </ul>
                <div class="btn-row-inline">
                    {% for project in job.projects %}
                    <a class="btn secondary" href="{{project.link}}">{{project.title}}<i class="ri-arrow-right-s-fill"></i></a>
                    {% endfor %}
                </div>
            </div>
            <div class="row-column image job-image">
                <img class="image" src="{{'../assets/images/3rd-party-logos/' + job.logo}}" loading="lazy" alt="logo">
            </div>
        </div>
    </div>
    {% endfor %}
</section>



<section class="centre" id="Policy Section">
    <h1>Policies</h1>
    <ol class="policy-list">
        {% for policy in collections.policies %}
        <li class="policy-card">
            <a href="{{policy.url | toAbsoluteUrl }}" class="policy-card-link">
                <img src='{{policy.data.blob.src}}' alt="">
            </a>
            <div>
                <h3>{{policy.data.title}}</h3>
                <p>{{policy.data.subheading}}</p>
                <a class="btn transparent" href="{{policy.url | toAbsoluteUrl }}">Read More<i class="ri-arrow-right-line"></button>
            </div>
        </li>
        {% endfor %}
        <li class="policy-card">
            <a href="{{'contactus/#FAQ' | toAbsoluteUrl }}" class="policy-card-link">
                <img src='../assets/images/about/Blob-FAQ.webp' alt="">
            </a>
            <div>
                <h3>FAQ</h3>
                <p></p>
                <a class="btn transparent" href="{{'contactus/#FAQ' | toAbsoluteUrl }}">Read More<i class="ri-arrow-right-line"></a>
            </div>
        </li>
    </ol>
</section>

<script>
document.addEventListener('alpine:init', () => {
  Alpine.data('toolData', () => ({
    tools:null,
    async init() {
      let resp = await fetch('../_data/tools.json');
      this.tools = await resp.json();
    },
  }))
});
</script>