---
eleventyNavigation:
    key: "Case Studies"
    order: 3

title: Case Studies
subheading: All Case Studies

pagination:
    data: collections.case-studies
    size: 100
    alias: studies

---
{%- from 'projectCards.njk' import filteredProjects %}

<div class="tag-card-container">
    <div class="article-section centre-text">
        Longer-form projects with larger scopes. Think dashboards, saas, multiple research stages, etc.
    </div>
    
    <h2>E-Save</h2>
    
    {{ filteredProjects ({
            projectList: studies,
            filter: 'e-save'
         }) }}
    
    <h2>Morses Club</h2>
        {{ filteredProjects ({
            projectList: studies,
            filter: 'morses'
         }) }}
    
    <h2>Other</h2>
        {{ filteredProjects ({
            projectList: studies,
            filter: 'misc'
         }) }}
</div>