---
eleventyNavigation:
    key: "Case Studies"
    order: 3

title: Case Studies
subheading: All Case Studies

pagination:
    data: collections.case-studies
    size: 100
    alias: studies

---

<h2>E-Save</h2>
<ul>
    {% for case in studies %}
        {%if 'e-save' in case.data.tags %}
        <li>
            <a href="{{case.url}}">{{case.data.title}}</a>
        </li> 
        {% endif %}
{% endfor %}
</ul>

<h2>Morses Club</h2>
<ul>
    {% for case in studies %}
        {%if 'morses' in case.data.tags %}
        <li>
            <a href="{{case.url}}">{{case.data.title}}</a>
        </li> 
        {% endif %}
    {% endfor %}
</ul>

<h2>Other</h2>
<ul>
    {% for case in studies %}
    {%if 'misc' in case.data.tags %}
    <li>
        <a href="{{case.url}}">{{case.data.title}}</a>
    </li> 
    {% endif %}
{% endfor %}
</ul>
