---
eleventyNavigation:
    key: "Case Studies"
    order: 6

title: About
subheading: Give and Grow is a community interest company dedicated to identifying and supporting students who are unable to fund tutoring sessions, targeting particularly the students who are not eligible for any financial support from traditional systems.
heroImagePath: ../assets/images/hero/Hero-About.webp

testimonialQuote: Testimonial quote, or quote from article in here
testimonialSource: Whoever or whatever this quote is from.

---