---
title: Collections Test
---

<h1>{{title}}</h1>
<h2>New Post Collection</h2>
<ul>
    {% for item in collections.projects %}
    <li>
        <h4>{{item.data.title}}</h4>
        {% if item.templateContent %}
            {% set safeExcerpt = item.templateContent | striptags | truncate(140, false, "...") %}
            <p>{{safeExcerpt}}</p>
            <meta name="description" content = "{{ safeExcerpt }}">
            <meta property="og:description" content="{{ safeExcerpt }}">
        {% endif%}
    </li>
    {% endfor %}
</ul>