---js
const eleventyNavigation = {
	key: "Contact",
	order: 6
};

const title = "Contact";

const contactInfo = [
	{
		type: "Email",
		info: "uxbydlh (at) gmail.com",
		icon: "ri-mail-line"
	},
	{
		type: "LinkedIn",
		info: "Visit",
		link: "www.linkedin.com/in/dorian-h-a1b8b0302",
		icon: "ri-linkedin-box-fill"
	}
];

const FAQs = [
{
id: "faq1",
question: "Are you available for volunteer work?",
answer: `
Yes! 
Please send me a description of the role and a link to your organisation's website or linkedIn profile.
`
},
{
id: "faq2",
question: "Can I redesign your site/improve your seo/sell you something?",
answer: `
No.
`,
}
];
---

<section class="centre" id="contact-us">
	<div class="section-row">
		<div class="row-column text">
			<h2>Contact Form</h2>	
			<!--from https://web3forms.com/ -->
			<form action="https://api.web3forms.com/submit" method="POST">

				<!-- Replace with your Access Key -->
				<input type="hidden" name="access_key" value="YOUR_ACCESS_KEY_HERE">
				<!-- Form Inputs. Each input must have a name="" attribute -->
				<div>
					<label for="input-name">Name (Required)</label>
					<input type="text" name="name" id="input-name" required>
				</div>
				<div>
					<label for="input-email">Email (Required)</label>
					<input type="email" name="email" id="input-email" required>
				</div>
				<div class='text-area-container'>
					<label for="input-message">Message (Required)</label><br>
					<textarea name="message" id="input-message" maxlength="500" required></textarea><br>
					<label for="input-message" class="below right" id="input-message-count"></label>
				</div>

				<!--Consent checkbox-->
				<div>
					<label for="input-consent">Consent</label><br>
					<div class="check-with-desc">
						<input type="checkbox" name="consent" id="input-consent" required>
						<p>
							Please check this box to consent to your data being stored in line with 
							the guidelines set out in our <a class="inline">Privacy Policy</a>
						</p>
					</div>
				</div>

				<!-- Honeypot Spam Protection -->
				<input type="checkbox" name="botcheck" class="hidden" style="display: none;">

				<!-- Custom Confirmation / Success Page -->
				<!-- <input type="hidden" name="redirect" value="https://mywebsite.com/thanks.html"> -->

				<button class="btn primary" type="submit">Submit Form<i class="ri-arrow-right-line"></i></button>
			</form>
		</div>
		<div class="row-column text" type="contact-info">
			<h2> Contact Information </h2>
			<ul class="icon-bullet">
				{% for contact in contactInfo %}
				<li>
					<i class="{{contact.icon}} ri-xl"></i>
					<div>
						<label for="{{contact.type}}"><h4>{{contact.type}}</h4></label>
						{% if contact.link %}
						<a class="smallBtn secondary" href="{{contact.link}}" target="_blank" rel="noopener noreferrer">{{contact.info}}<i class="ri-arrow-right-line"></i></a>
						{% else %}
						<p id="{{contact.type}}">{{contact.info}}</p>
						{% endif %}
					</div>
				</li>
				{% endfor %}
			</ul>
			<br>
			<section id="FAQ" class="FAQ">
				<h2> Frequently Asked Questions </h2>
				<div class="faq-list">
					{% for faq in FAQs%}
						<details class="expand-box" id="{{faq.id}}" name="faq-question">
							<summary><h3>{{faq.question}}</h3><i class="ri-add-line"></i></summary>
							<div class="faq-answer">
								{{ faq.answer | safe}}
							</div>
						</details>
					{% endfor %}
				</div>
			</section>
		</div>
	</div>
</section>



<script>
	document.getElementById('input-message').onkeyup = function () {
		document.getElementById('input-message-count').innerHTML = (500 - this.value.length) + "/500 </br>characters remaining";
	};
</script>

