---js
const layout = "layouts/homepage.njk";

const numberOfLatestPostsToShow = 3;
const latestNewsToShow = 4;

const title = 'Dorian H.';

const logos = [
	{
		file: "logo-adenydd.png",
		link: "#TODO"
	},
	{
		file: "logo-DHH.png",
		link: "#TODO"
	},
	{
		file: "logo-dotdot.svg",
		link: "#TODO"
	},
	{
		file: "logo-EcoCentre.png",
		link: "#TODO"
	},
	{
		file: "logo-GiveGrow.svg",
		link: "#TODO"
	},
	{
		file: "logo-morses.svg",
		link: "#TODO"
	},
	{
		file: "logo-ncr.svg",
		link: "#TODO"
	},
	{
		file: "logo-oakbrook.svg",
		link: "#TODO"
	},
	{
		file: "logo-VED.webp",
		link: "#TODO"
	}
];

---

<section class="top centre" id="Model">
	<h2>Companies I've worked with</h2>
	<div class="marquee-wrapper">
		<div class="marquee-track">
			 <div class="dynamic-logo-list">
				<div class="marquee-list dynamic-items" role="list">
					{% for i in range(0, 2)%}
						{% for logo in logos %}
							<div class="marquee-item dynamic-item" role="listitem">
								<div class="marquee-image">
									<a href="{{logo.link}}">
										<img class="image" src="{{'../assets/images/3rd-party-logos/' + logo.file}}" loading="lazy" alt="#TODO">
									</a>
								</div>
							</div>
						{% endfor %}
					{% endfor %}
				</div>
			 </div>
		</div>
	</div>
</section>

<!--TODO FIX THIS LOOP AFTER ADDING A PROJECTS COLLECTION-->
<section class="centre" id="LatestProj">
	<h2>Latest Projects</h2>
	<!--TODO: RETRIEVE LATEST PROJECTS AND DISPLAY THEM-->
	<ul>
		{% set latest_projects = collections.projects | reverse %}
		{% for item in latest_projects.slice(0,3) %}
		<li>
			<h4>{{item.data.title}}</h4>
			{% if item.templateContent %}
				{% set safeExcerpt = item.templateContent | striptags | truncate(140, false, "...") %}
				<p>{{safeExcerpt}}</p>
				<meta name="description" content = "{{ safeExcerpt }}">
				<meta property="og:description" content="{{ safeExcerpt }}">
			{% endif%}
		</li>
		{% endfor %}
	</ul>
	<a class="btn primary" href="#WIP">View All Projects<i class="ri-arrow-right-s-fill"></i></a>
</section>

<section class="centre" id="FeaturedTest">
	<h2>Featured Testimonials</h2>
	{% set testList = testimonials | shuffle %}
	<ul class="card-list">
		{% for testimonial in testList.slice(0,3) %}
		<li class="card testimonial">
			<q>{{testimonial.testimonial}}</q>
			<div class="persona"><i class="ri-chat-2-fill"></i><p><b>{{testimonial.persona}}</b></p></div>
		</li>
		{% endfor %}
	</ul>
	<div class="btn-row-inline">
		<a class="btn primary" href="#WIP">View All Projects<i class="ri-arrow-right-s-fill"></i></a>
		<a class="btn primary" href="#WIP">View All Projects<i class="ri-arrow-right-s-fill"></i></a>
	</div>
</section>

{# List every content page in the project #}
{#
<ul>
	{%- for entry in collections.all %}
	<li><a href="{{ entry.url }}"><code>{{ entry.url }}</code></a></li>
	{%- endfor %}
</ul>
#}
