---js
const eleventyNavigation = {
	key: "Home",
	order: 1
};

const numberOfLatestPostsToShow = 3;
const latestNewsToShow = 4;

const heroUpperHeading = "Give & Grow CIC";
const title = 'Community-Powered Education for All';
const subheading = "Give and Grow uses every paid tutoring session to fund free tutoring for those left behind by the system, proving that when a community gives, everyone grows."
const heroBtn = {
	link: "/about",
	txt: "Find out more",
	icon: "ri-arrow-right-line"
};
const heroImagePath = "../assets/images/hero/Hero-Index.webp";
const heroImageAlt = "A group of three students sit down to study together. The student in the middle has a hand-drawn lightbulb over their head.";

//HOW DOES IT WORK

const modelStatement = "<b>Give and Grow</b> is a community interest company dedicated to <b>identifying and supporting students who are unable to fund tutoring sessions</b>, targeting the students who are <b>not eligible</b> for any financial support from <b>traditional systems</b>. This platform offers a <b>pay-it forward model</b> where proceeds from paid tutoring sessions are used to directly fund <b>free lessons for students in need</b>. The eligibility for free sessions are determined on a <b>case-by-case basis</b> and the individual context of each student.";
const modelCards = [
	{
		head: "No One Falls Through",
		bulletPoints: [
			"Supports students let down by traditional aid.",
			"Eligibility determined on a case-by-case basis with full confidentiality",
			"Accessing support shouldn't depend on paperwork privilege or luck"
		],
		image: "../assets/images/home/blob-net.png",
		altTxt: "A simple, hand-drawn illustration of a safety net"
	},
	{
		head: "Why We're Different",
		bulletPoints: [
			"Our model is self-funding - donations help us, but we don't entirely rely on them.",
			"Tutors gain real experience working with students and are provided with relevant, NTP-based training.",
			"We have a trust-based system, which means students can get the help they need without being held back by countless forms."
		],
		image: "../assets/images/home/blob-tutor.png",
		altTxt: "A simple, hand-drawn illustration of a tutor holding a pointer"
	},
	{
		head: "Community-Driven",
		bulletPoints: [
			"This initiative works through the kindness of paying students who choose to help other students grow with them.",
			"Our tutors are mission-driven, and mainly comprised of fellow university students seeking work experience.",
			"We strive to create a supportive culture of mutual aid and learning together."
		],
		image: "../assets/images/home/blob-cycle.png",
		altTxt: "A simple, hand-drawn illustration of two arrows forming a cycle"
	}	
];

//TUTORS AND STUDENTS

const tutorSect = {
	title: "Tutors Gain Real Experience",
	bulletPoints: [
		"Take on both paid and volunteer tutoring opportunities with full flexibility to fit you.",
		"Access free training and continuous feedback to grow your skills.",
		"Get official work references after 3 months",
		"Log verified volunteering hours for your professional development",
		"Safe tutoring sessions covered by our Public Liability Insurance",
		"Have your say in how we run this service and help us improve",
		"Join a purpose-driven community where you can help others grow alongside you."
	]
};
const tutorBtns = [
	{
		btnType: "primary",
		btnText: "Join us",
		btnLink: "tutors/become-a-tutor"
	},
	{
		btnType: "secondary",
		btnText: "More Information",
		btnLink: "tutors"
	}
];

const studentSect = {
	title: "Students succeed here",
	bulletPoints: [
		"Simplified, active learning for GCSE and A-level students.",
		"Personalised tutoring plans that suit your budget and needs.",
		"Support and past-paper preparation for exams.",
		"Tutors close to their own age who are more familiar with the current curriculum.",
		"The ability to give feedback that helps tailor the tutoring to their personal requirements."
	]
};
const studentBtns = [
	{
		btnType: "primary",
		btnText: "Apply now",
		btnLink: "students/get-assessed"
	},
	{
		btnType: "secondary",
		btnText: "More Information",
		btnLink: "students"
	},
];

const eleventyImport = {
	collections: ["news"]
};

const newsBtn = {
	btnText: "View More",
	btnLink: "#wip"
};
---

<section class="top centre" id="Model">
	<h1>How Does it Work?</h1>
	<p>{{modelStatement | safe }}</p>
	<ul class="card-list">
		{% for card in modelCards %}
			<li>
				<div class="card-image">
					<img src="{{card.image}}" alt="{{card.altTxt}}">
				</div>
				<div class="card-text">
					<h3>{{ card.head }}</h3>
					<ul class="list-bullet">
						{% for point in card.bulletPoints %}
						<li>{{point}}</li>
						{% endfor %}
					</ul>
				</div>
			</li>
		{% endfor %}
	</ul>
	<a href="{{'/contactus/#FAQ' | toAbsoluteUrl }}" class="btn primary">
        <p>Visit our FAQ</p>
		<i class="ri-arrow-right-line"></i>
    </a>
</section>

<section class="centre pink" id="TutorsStudents">
	<div class="section-row image-right">
		<div class="row-column text">
			<h2>{{tutorSect.title}}</h2>
			<p><b>Join our team of tutors and enjoy the benefits that come with working with Give and Grow, including:</b></p>
			<ul class="list-bullet">
				{%for point in tutorSect.bulletPoints%}
				<li>{{ point | safe }}</li>
				{%endfor%}
			</ul>
			<p><b>If you are interested in being a part of our mission, please reach out to <a class="inline" href="mailto:Give.and.grow.cic@gmail.com">Give.and.grow.cic@gmail.com</a></b></p>
			<div class="btn-row-inline">
			{% for btn in tutorBtns %}
				<a class="btn {{btn.btnType}}" href="{{btn.btnLink}}">{{btn.btnText}}</a>
			{% endfor %}
			</div>
		</div>
		<div class ="row-column image">
			<img src="../assets/images/home/Tutors-Section-Image.webp" alt="A student and tutor talk to eachother, surrounded by doodles and held by a drawing of a hand.">
		</div>
	</div>
	<img class="divider-hr" src="../assets/dividers/divider-hr-1.svg" alt="">
	<div class="section-row">
		<div class ="row-column image">
			<img src="../assets/images/home/Students-Section-Image.webp" alt="One student works on a laptop next to a doodle of a trophy. He is supported by a drawing of a hand.">
		</div>
		<div class="row-column text">
			<h2>{{studentSect.title}}</h2>
			<p><b>Give a little and grow a <i>lot</i> with other students. When you study with us, you enjoy the following benefits:</b></p>
			<ul class="list-bullet">
				{%for point in studentSect.bulletPoints%}
				<li>{{point}}</li>
				{%endfor%}
			</ul>
			<div class="btn-row-inline">
				{% for btn in studentBtns %}
					<a class="btn {{btn.btnType}}" href="{{btn.btnLink}}">{{btn.btnText}}</a>
				{% endfor %}
			</div>
		</div>
	</div>
</section>

<section class="centre" id="open-roles">
	<h1>Open Roles</h1>
	<h3>We are currently looking for new talent to join our team of amazing volunteers</h3>
	<ul class="tutor-list">
		{% for role in openRoles %}
		<li class="tutor-card">
			<h3>{{role.role}}</h3>
			<ul>
				<li>{{role.location}}</li>
				<li>{{role.hours}}</li>
			</ul>
			<h4>Requirements</h4>
			{% for req in role.requirements %}
				<p>{{req}}</p>
			{% endfor %}
				<a class="btn primary" href="{{role.link | toAbsoluteUrl }}" target="_blank" rel="noopener noreferrer">View Role<i class="ri-arrow-right-line"></a>
				{%if role.deadline%}	
				<b>Deadline: {{role.deadline}}</b>
				{%endif%}
		</li>
		{% endfor %}
	</ul>
	<p>Don't see your skillset here? <a class="inline" href="{{'/contactus' | toAbsoluteUrl}}">Get in touch</a> and let us know what you'd like to do for give and grow, and how many hours you can put in - we look forward to hearing from you!</p>
	<div class="btn-row-inline">
		<a class="btn primary" href="{{'/about/volunteer-with-us/' | toAbsoluteUrl}}">View More Roles</a>
		<a class="btn secondary" href="https://www.linkedin.com/company/give-and-grow-cic" target="_blank" rel="noopener noreferrer"><i class="ri-linkedin-box-fill"></i>Visit our LinkedIn<i class="ri-arrow-right-line"></i></a>
	</div>
</section>

{# List every content page in the project #}
{#
<ul>
	{%- for entry in collections.all %}
	<li><a href="{{ entry.url }}"><code>{{ entry.url }}</code></a></li>
	{%- endfor %}
</ul>
#}
