---
eleventyNavigation:
    key: "Other"
    order: 5

title: Other Projects
subheading: Misc Projects that don't quite fit any other category
heroImagePath: ../assets/images/hero/Hero-About.webp

testimonialQuote: Testimonial quote, or quote from article in here
testimonialSource: Whoever or whatever this quote is from.

---