---js
const layout = "layouts/standard.njk";

const title = "All Projects";

var pagination = {
    data: "collections.projects",
    size: 100,
    alias: "projects"
};
---
{%- from 'projectCards.njk' import filteredProjects %}

{#TODO RESTRUCTURE ALL PROJECTS SO THAT THEIR CONTENTS WORK PROPERLY#}
<h2>Case Studies</h2>
{{ filteredProjects ({ 
        projectList: collections.projects,
        filter: 'case-study'
     }) }}


<h2>Web Design</h2>
{{ filteredProjects ({ 
        projectList: collections.projects,
        filter: 'web-design'
     }) }}

<h2>Other</h2>
{{ filteredProjects ({ 
        projectList: collections.projects,
        filter: 'misc'
     }) }}


