---js
const eleventyNavigation = {
	key: "Students",
	order: 3
};

const noDonate = true;

const title = "Students - We're here to help";
const subheading = "Give and Grow is dedicated to supporting students facing financial difficulties. <br> We offer FREE tutoring sessions for both GCSE and A-Level students. We also offer personalised learning plans and university application support. <br><br> Interested? Fill in the anonymous eligibility form below and find out if we can offer you our services!";
const heroImagePath = "../assets/images/hero/Hero-Students.webp"
const heroBtn = {
	link: "students/get-assessed",
	txt: "Get Assessed",
	icon: "ri-arrow-right-line"
};

const testimonialQuote = "Testimonial quote, or quote from article in here";
const testimonialSource = "Whoever or whatever this quote is from.";

const modelCards = [
	{
		head: "Affordable Tutoring for All",
		bulletPoints: [
			"Supports students let down by traditional aid.",
			"Eligibility determined on a case-by-case basis with full confidentiality",
			"Accessing support doesn't depend on paperwork privilege or luck"
		],
		image: "../assets/images/students/blob-afford.webp",
		altTxt: ""
	},
	{
		head: "Progress Over Profits",
		bulletPoints: [
			"Tutors gain real experience working with students and are provided with relevant, NTP-based training.",
			"We have a trust-based system, which means students can get the help they need without being held back by countless forms."
		],
		image: "../assets/images/students/blob-progress.webp",
		altTxt: ""
	},
	{
		head: "Community Support",
		bulletPoints: [
			"This initiative works through the kindness of donors and volunteers who choose to help our students grow",
			"Our tutors are mission-driven, and mainly comprised of fellow university students seeking work experience.",
			"We strive to create a supportive culture of mutual aid and learning together."
		],
		image: "../assets/images/students/blob-support.webp",
		altTxt: ""
	}	
];

const tutorSect = {
	statement: "Our tutors are passionate, dedicated young people looking to help others like them thrive in their education.",
	signUp: "Just fill out our eligibility form to sign up - when you do, we'll match you with one of our tutors so you can start learning in a way that best suits you."
};

const costSect = {
	statement: "Give and Grow is a community-driven initiative and our learning resources are <u>completely free</u>.",
	review: "If traditional support systems haven't worked for you, we are here to offer entirely free education support - regardless of your financial situation. <br><br> <b>No documentation or special references required</b> - we just need you to answer a few questions about why you would benefit from our services."
};
---

<section class="centre">
	<h1>How does our model work for you?</h1>
	<p>Our community-driven initiative works with volunteer tutors to keep our services running <b>at no cost to you.</b></p>
	<p>Find out more below.</p>
	<ul class="card-list">
		{% for card in modelCards %}
		<li>
			<div class="card-image">
				<img src="{{card.image}}" alt="{{card.altTxt}}">
			</div>
			<div class="card-text">
				<h3>{{card.head}}</h3>
				<ul class="list-bullet">
					{% for point in card.bulletPoints %}
					<li>{{point}}</li>
					{% endfor %}
				</ul>
			</div>
		</li>
		{% endfor %}
	</ul>
	<a class="btn primary" href="{{'contactus/#FAQ' | toAbsoluteUrl }}">Visit Our FAQ</a>
</section>

<section class="centre violet">
	<div class="section-row image-right">
		<div class="row-column text">
			<h2>I need a tutor!</h2>
			<p><b>{{tutorSect.statement}}</b></p>
			<p>{{tutorSect.signUp}}</p>
			<a href="{{'students/get-assessed' | toAbsoluteUrl }}" class="btn primary">Sign Up</a>
		</div>
		<div class="row-column image">
			<img src="../assets/images/students/Need-A-Tutor.webp" alt="Student looking to a drawing of a thought bubble on her right.">
		</div>
	</div>
	<img class="divider-hr" src="../assets/dividers/divider-hr-1.svg" alt="">
	<div class="section-row">
		<div class="row-column image">
			<img src="../assets/images/students/Concerned-About-Costs.webp" alt="Student looking to a drawing of a thought bubble on her right.">
		</div>
		<div class="row-column text">
			<h2>Concerned about costs?</h2>
			<p><b>{{costSect.statement | safe}}</b></p>
			<p>{{costSect.review | safe}}</p>
			<a href="{{'students/get-assessed' | toAbsoluteUrl }}" class="btn primary">Get Assessed</a>
		</div>
	</div>
</section>