---js
const eleventyNavigation = {
	key: "Tutors",
	order: 4,
};

const title = "Tutors";
const subheading = "Our volunteer tutors are dedicated, young people who want to help other young people succeed on their learning journeys. <br><br> Sound like you? Apply with us today, and gain important work experience while you help others.";
const heroImagePath = "../assets/images/hero/Hero-Tutors.webp"

const testimonialQuote = "Testimonial quote from a tutor, or quote from article in here";
const testimonialSource = "Whoever or whatever this quote is from.";

const modelCards = [
	{
		head: "Work Experience",
		bulletPoints: [
			"Stand out among other applicants - add your time spent tutoring with us to your CV",
			"We can provide you with a character reference for your future applications",
			"Improve key leadership skills such as communication, problem-solving and organisation"
		],
		image: "../assets/images/tutors/blob-work.webp",
		altTxt: ""
	},
	{
		head: "Help Others",
		bulletPoints: [
			"When you work with us, you help other young people on their learning path",
			"Make a positive impact on someone's life",
			"Gain experience as a mentor for another young person"
		],
		image: "../assets/images/tutors/blob-community.webp",
		altTxt: ""
	},
	{
		head: "Community Growth",
		bulletPoints: [
			"Meet new people studying similar subjects to yourself",
			"Grow with your students and deepen the knowledge you have of your subject by teaching it",
			"Gain a greater sense of confidence in your abilities along side your fellow tutors and students"
		],
		image: "../assets/images/tutors/blob-growth.webp",
		altTxt: ""
	}	
];

const tutorJob = {
	photo: "../assets/images/tutors/Potential-Volunteer.png",
	name: "You?",
	subjects: ["Maths", "English", "Biology", "Psychology"],
	link: "https://www.linkedin.com/jobs/view/4335881362"
};
---

<section class="centre">
	<h1>Why Volunteer with Us?</h1>
	<p>When you volunteer to tutor with us, you not only help others - you help yourself too!</p>
	<ul class="card-list">
		{% for card in modelCards %}
		<li>
			<div class="card-image">
				<img src="{{card.image}}" alt="{{card.altTxt}}">
			</div>
			<div class="card-text">
				<h3>{{card.head}}</h3>
				<ul class="list-bullet">
					{% for point in card.bulletPoints %}
					<li>{{point}}</li>
					{% endfor %}
				</ul>
			</div>
		</li>
		{% endfor %}
	</ul>
	<p>It's easy to sign up! All we need is an <b>enhanced DBS check</b>, covered by us.</p>
	<div class="section-row">
		<a href="https://www.linkedin.com/company/give-and-grow-cic/jobs" class="btn primary" target="_blank" rel="noopener noreferrer">Sign Up</a>
		<a href="{{'contactus/#FAQ' | toAbsoluteUrl}}" class="btn secondary">Visit Our FAQ</a>
	</div>
</section>

<section class="centre">
	<h1>Meet Our Tutors</h1>
	<p>Meet our dedicated team of volunteer tutors who are passionate about teaching and learning</p>
	<ul class="tutor-list">
		<!--{%set tutorList = tutors | shuffle %}
		{% for tutor in tutorList.slice(0,4) %}
			<li class="tutor-card">
				<div class="tutor-photo">
					<img src="{{tutor.photo}}"/>
				</div>
				<p class="tutor-name">{{tutor.name}}</p>
				<ul>
					{% for subject in tutor.subjects %}
					<li>{{subject}}</li>
					{% endfor %}
				</ul>
			</li>
		{% endfor %} TEMPORARY REMOVAL -->
		<li class="tutor-card">
				<div class="tutor-photo">
					<img src="../assets/images/tutors/Potential-Volunteer.png" alt="Drawing of a blank, question-marked face representing a potential volunteer - you perhaps?"/>
				</div>
				<p class="tutor-name">{{tutorJob.name}}</p>
				<ul>
					{% for subject in tutorJob.subjects %}
					<li>{{subject}}</li>
					{% endfor %}
				</ul>
				<a class="btn primary" href="{{tutorJob.link}}">Apply Now</a>
		</li>
	</ul>
	<div class="section-row">
		<a class="btn primary" href="{{'/tutors/all-tutors/' | toAbsoluteUrl}}"> View More Tutors </a>
		<a class="btn secondary" href="{{'/tutors/become-a-tutor/' | toAbsoluteUrl}}">Become a Volunteer Tutor</a>
	</div>
</section>