---
eleventyNavigation:
    key: "Web Design"
    order: 4

title: Web Design
subheading: All Web Design Projects

pagination:
    data: collections.web-design
    size: 100
    alias: websites

---

Websites designed by me. Projects marked "dev" indicate that I worked on the site as a developer, too.

<ul>
    {% for site in websites %}
        <li>
            <a href="{{site.url}}">{{site.data.title}}</a>
        </li>
    {% endfor %}
</ul>

