---
eleventyNavigation:
    key: "Web Design"
    order: 4

title: Web Design
subheading: All Web Design Projects

pagination:
    data: collections.web-design
    size: 100
    alias: websites

---
{%- from 'projectCards.njk' import filteredProjects %}

<div class="tag-card-container">
    <div class="article-section centre-text">
            Websites designed by me. Projects marked "dev" indicate that I worked on the site as a developer, too.
    </div>
    
    {{ filteredProjects ({
            projectList: websites,
            filter: 'web-design'
         }) }}
</div>

