---js
const layout = "layouts/post.njk";

const eleventyNavigation = {
	key: "Writers Folio",
	parent: "More"
};

const tags = ["project","web-design"];

const date = "2024-06-06";

const title = "Writers Folio";
const subheading = "for Morses Club";
---

Prospective creative writing folio for a client who specialised in magazines.