{%- macro alpineCarousel(params) -%}

<div x-data="{images:{{params.images | jsonify}}, activeSlide: 0}"class="button-carousel">
    {#TODO SWAP OUT URLS BEFORE GO LIVE#}
    <template x-for="(image, index) in images" :key="index">
        <div x-show="activeSlide === index" class="button-carousel-images {{params.orientation}} {{params.slideType}} {{params.plurality}}">
            <a rel="{{params.carouselId}}" class="swipebox" :href="new URL(`${image.src}`,'http://localhost:8080/').href" :title="image.caption">
                <img :src="new URL(`${image.src}`,'http://localhost:8080/').href">
                <p class="carousel-caption" x-show="image.caption !=null" x-text="image.caption"></p>
            </a>
        </div>
    </template>
    {% if params.images.length > 1 %}
         <div class="row button-carousel-buttons">
            <button class="icon-button" x-on:click="activeSlide = activeSlide === 0 ? images.length-1 : activeSlide - 1">
                <i class="ri-arrow-left-s-fill"></i>
            </button>

            <template x-for="(image, index) in images" :key="index">
                <button :class="{
                    'selector-button selected' : activeSlide === index,
                    'selector-button' : activeSlide !== index
                }"
                x-on:click="activeSlide = index"
                ></button>
            </template>

            <button class="icon-button" x-on:click="activeSlide = activeSlide === images.length-1 ? 0 : activeSlide + 1">
                <i class="ri-arrow-right-s-fill"></i>
            </button>
            </div>
      {% endif %}
</div>

{%- endmacro -%}