{%- macro filteredTestimonials(params) -%}

    <ul class="card-list">
        {% for testimonial in params.listOfAll %}
            {% if testimonial.company == params.filter %}
                <li class="card testimonial">
					<q>{{testimonial.testimonial}}</q>
					<div class="persona"><i class="ri-chat-2-fill"></i><p><b>{{testimonial.persona}}</b></p></div>
				</li>
            {% endif %}
        {% endfor %}
    </ul>

{%- endmacro -%}