{%- macro gallery(params) -%}

<div class="swipe-gallery">
    {% for image in params.images %}
        <a rel="{{params.galleryId}}" class="{{params.galleryId}} swipebox" href="{{image | toAbsoluteUrl}}" title="">
            <img src="{{image | toAbsoluteUrl}}">
        </a>
    {% endfor %}
</div>

{%- endmacro -%}