{%- macro tag(params) -%}
   <span class="tag" style="color: chartreuse;">{{params.text}}</span>
{%- endmacro -%}

{%- macro carousel(params) -%}

   <div class="button-carousel">
      <div class="button-carousel-images">
         {% for image in params.images %}
            <a rel="{{params.carouselId}}" class="{{params.carouselId}} swipebox" href="{{image}}" title="" style="">
               <img src="{{image}}">
            </a>
         {% endfor %}
      </div>
      <div class="row button-carousel-buttons">
         <button class="icon-button" onclick="plusDivs(-1, '{{params.carouselId}}')">
            <i class="ri-arrow-left-s-fill"></i>
        </button>
        <button class="icon-button" onclick="plusDivs(1, '{{params.carouselId}}')">
            <i class="ri-arrow-right-s-fill"></i>
        </button>
      </div>
   </div>

{%- endmacro -%}


