{%- macro carousel(params) -%}

   <div class="button-carousel">
      <div class="button-carousel-images {{params.orientation}} {{params.slideType}} {{params.plurality}}">
         {% for image in params.images %}
            {% if loop.first %}
               <a rel="{{params.carouselId}}" class="{{params.carouselId}} swipebox" href="{{image.src | toAbsoluteUrl }}" title="{{image.caption}}">
                  <img src="{{image.src | toAbsoluteUrl }}"> 
                  {#{%if image.caption %}
                     <p class="carousel-caption">{{image.caption}}</p>
                  {%endif%}#}
               </a>
            {% else %}
               <a rel="{{params.carouselId}}" class="{{params.carouselId}} swipebox" href="{{image | toAbsoluteUrl }}" title="{{image.caption}}" style="display: none;">
                  <img src="{{image.src | toAbsoluteUrl }}">
                  {#{%if image.caption%}
                     <p class="carousel-caption">{{image.caption}}</p>
                  {%endif%}#} 
               </a>
            {% endif %}
            
            <!--<img class="{{params.carouselId}}" src="{{image}}">-->
         {% endfor %}
      </div>
      {% if params.images.length > 1 %}
         <div class="row button-carousel-buttons">
            <button class="icon-button" onclick="plusDivs(-1, '{{params.carouselId}}')">
               <i class="ri-arrow-left-s-fill"></i>
         </button>
         <button class="icon-button" onclick="plusDivs(1, '{{params.carouselId}}')">
               <i class="ri-arrow-right-s-fill"></i>
         </button>
         </div>
      {% endif %}
   </div>

   <script>
   (showDivs(slideIndex, '{{params.carouselId}}'));
   </script>

{%- endmacro -%}


