{%-macro imageCards(params)-%}

<ul class="card-list">
    {% for card in params.cards %}
    <li class="card">
        <h4>{{card.titleText}}</h4>
        <h5>{{card.subtitle}}</h5>
        <ul>
            {%%}
        </ul>
    </li>
    {% endfor %}
</ul>

{%- endmacro -%}