{%- macro latestProjects(params) -%}
    <ul class="card-list">
		{% set latest_projects = params.projectList | reverse %}
		{% for item in latest_projects.slice(0,3) %}
		<a href="{{item.url | toAbsoluteUrl }}">
			<li class="card project">
				<img class="card-photo" src="{{item.data.bannerImg | toAbsoluteUrl}}">
				<h4>{{item.data.title}}</h4>
				{% if item.templateContent %}
					{% set safeExcerpt = item.templateContent | striptags | truncate(140, false, "...") %}
					<p>{{safeExcerpt}}</p>
					<meta name="description" content = "{{ safeExcerpt }}">
					<meta property="og:description" content="{{ safeExcerpt }}">
				{% endif%}
				<button class="smallBtn primary">Read More<i class="ri-arrow-right-s-fill"></i></button>
			</li>
		</a>
		{% endfor %}
	</ul>
{%- endmacro -%}

{%- macro filteredProjects(params) -%}
    <ul class="card-list">
		{% set latest_projects = params.projectList | reverse %}
		{% for item in latest_projects %}
            {% if params.filter in item.data.tags %}
                    <li class="card project">
						<a class="card-content" href="{{item.url | toAbsoluteUrl }}">
							{%if item.data.bannerImg %}
								<img class="card-photo" src="{{item.data.bannerImg | toAbsoluteUrl}}">
							{%endif%}
								<h4>{{item.data.title}}</h4>
							{% if item.templateContent %}
								{% set safeExcerpt = item.templateContent | striptags | truncate(140, false, "...") %}
								<p>{{safeExcerpt}}</p>
								<meta name="description" content = "{{ safeExcerpt }}">
								<meta property="og:description" content="{{ safeExcerpt }}">
							{% endif%}
						</a>
						<ul class="card-tags">
							{%- for tag in item.data.tags | filterTagList %}
							{%- set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
							<li>
								<a href="{{ tagUrl }}" class="post-tag">
									{{ tag }}
								</a>
							</li>
							{%- endfor %}
							<li>
								Read More<i class="ri-arrow-right-s-fill"></i>
							</li>
						</ul>
                    </li>
                </a>
            {% endif %}    
		{% endfor %}
	</ul>
{%- endmacro -%}