---js
const layout = "layouts/subpage.njk";

const eleventyNavigation = {
	key: "Adenydd",
	parent: "Web Design"
};

const tags = ["project","adenydd","web-design"];

const title = "Adenydd";
const subheading = "...";
---

Adenydd is a Swansea-based charity that provides training for schools, services for families and projects for communities.

Whether you're a parent, a teacher, or anyone who cares, Adenydd can provide you with the tools to help children overcome adverse childhood experiences and live happy, successful lives.