---js
const layout = "layouts/subpage.njk";

const eleventyNavigation = {
	key: "Adenydd",
	parent: "Web Design"
};

const tags = ["project","adenydd","web-design"];

const date = "2025-06-06";

const title = "Adenydd";
const subheading = "Website Redesign";
---
{%- from 'imageCarousel.njk' import carousel %}
{%- from 'imageGallery.njk' import gallery %}
{%- from 'inlineTable.njk' import inlineTable %}

<img class="banner-image" src='{{"assets/images/case-studies/Adenydd/adenydd-banner.webp" | toAbsoluteUrl}}'>
<div class="article-section">
	Adenydd is a Swansea-based charity that provides training for schools, services for families and projects for communities.
	Whether you're a parent, a teacher, or anyone who cares, Adenydd can provide you with the tools to help children overcome adverse childhood experiences and live happy, successful lives.
	<a class="btn primary"
		href="https://adenydd.org/"
		target="_blank" rel="noopener noreferrer">Visit Adenydd<i class="ri-arrow-right-s-fill"></i></a>
</div>

<h2 id="details">Details</h2>
<div class="article-section">
	{{ inlineTable ({
			table: [
				{
					header: "Scope",
					bodyItems: [
						"Volunteer",
						"Redesign of existing website"
					]
				},
				{
					header: "Role",
					bodyItems: [
						"Research",
						"UX & UI design",
						"Copywriting",
						"Graphic Design"
					]
				},
				{
					header: "Tools",
					bodyItems: [
						"Figma",
						"Figjam",
						"One dot com web builder",
						"Adobe Photoshop",
						"Adobe Illustrator"
					]
				}
			]
		})
	}}
</div>

<h2 id="impact">Impact</h2>
<div class="article-section">
	{#TODO get this information from Dafydd#}
</div>

<h2 id="research-u-a">Research - User Archetypes</h2>
<div class="article-section">
	Before working on the redesign, I wanted to define what a successful redesign would look like based in Adenydd’s requirements. I created a selection of archetypes based on my conversations with marketing about who Adenydd is aimed at, who uses the site, donates, attends projects, etc.
</div>

<h2 id="arc-one-off">Archetype - One-Off Donors</h2>
<div class="article-section">
	Someone who cares deeply about the welfare of children. They may have been helped by, or know someone who was helped by Adenydd or a similar organisation in the past and are now looking to give back.
</div>

<h3 id="one-off-goals">Goals</h3>
<div class="article-section">
	To easily be able to donate and see the value and impact of their donations.
	May want to help in other ways, such as donating their time
</div>

<h3 id="one-off-barriers">Barriers</h3>
<div class="article-section">
	No specialised areas for different types of donations.
	No reasons to donate beyond “we rely on your support”. Unclear what the money is being used for - no examples provided.
</div>

<h2 id="one-off-improvements">Improvements for One Off Donors</h2>

<h3 id="new-area">New and Improved Donation Area</h3>
<div class="article-section">
	Previously, our donation page did not encompass every way that people could donate to us, just holding a single donation button with a link to Just Giving. Now, it features links for general donations, specific fundraisers and their subpages, and even a lottery fundraiser.
</div>

<h3 id="meaning">Donations with Meaning</h3>
<div class="article-section">
	{{ carousel({ carouselId: "CalonCarousel",
					images: [
						"assets/images/case-studies/Adenydd/support-clwb-calon.webp"
					],
					orientation: "slides-horiz",
					plurality: "single-image"
				}) 
	}}
	Another new addition are prompts to donate on relevant pages and projects. This way, users of the site can see real examples of where their money is going.
	{{ carousel({ carouselId: "FENDCarousel",
					images: [
						"assets/images/case-studies/Adenydd/FEND-aim.webp"						
					],
					orientation: "slides-horiz",
					plurality: "single-image"
				}) 
	}}
	The plan for the future is to include more real-world examples as we acquire them.
</div>

<h3 id="beyond-cash">Expanding Beyond Cash</h3>
<div class="article-section">
	{{ carousel({ carouselId: "supplyCarousel",
					images: [
						"assets/images/case-studies/Adenydd/supply-donations.webp"
						],
					orientation: "slides-horiz",
					plurality: "single-image"
				}) 
	}}
	We have placed an emphasis on things that can be donated beyond money, such as food, supplies, and most importantly: Time.
</div>

<h2 id="volunteering">Volunteering</h2>
<div class="article-section">
	To encourage people to volunteer, we have improved our get involved zone by including work opportunities at a variety of levels for volunteers, trustees and associates. We have included extended, searchable job descriptions, links to our Reach Volunteering page, prompts to contact us and more.
</div>

<h3 id="relevant-positions">Relevant Positions</h3>
<div class="article-section">
	We also have call outs to volunteer placed on relevant pages, encouraging those who have benefitted from those services to consider giving back if they can and also encouraging people with specific abilities to lend a hand.
	{{ carousel({ carouselId: "DLACarousel",
					images: [
						"assets/images/case-studies/Adenydd/could-you-help.webp"
						],
					orientation: "slides-horiz",
					plurality: "single-image"
				}) 
	}}
	A snippet from the disability claims support page. {#TODO - rework into a caption#}
</div>

<hr>

<h2 id="arc-big-give">Archetype - Big Give Funders </h2>
<div class="article-section">
	Business owners looking to make a significant charitable donation.
</div>

<h3 id="big-give-goals">Goals</h3>
<div class="article-section">
	Attach their name and donation to an organisation that is visibly making good changes in the world.
</div>

<h3 id="big-give-barriers">Barriers</h3>
<div class="article-section">
	No dedicated page for the Big Give campaign. No other on-site information about the campaign. Adenydd is unable to provide potential funders with a simple link when contacting them.
	No publicly available examples of where funding from previous campaigns has gone.
	{#TODO - listification #}
</div>

<h2 id="big-give-improvements">Improvements for Big Give Funders</h2>
<div class="article-section">
	{{ carousel({ carouselId: "bigGiveCarousel",
					images: [
						"assets/images/case-studies/Adenydd/give-big.webp"
						],
					orientation: "slides-horiz",
					plurality: "single-image"
				}) 
	}}
	I created a dedicated page for the Big Give campaign, allowing Adenydd to link it directly to prospective donors.
	{{ carousel({ carouselId: "donationMattersCarousel",
					images: [
						"assets/images/case-studies/Adenydd/your-donation-matters.webp"
						],
					orientation: "slides-horiz",
					plurality: "single-image"
				}) 
	}}
	The page includes plenty of information about Adenydd’s work with Big Give over the years and even links back to the main website of the organisation for more information.
	{{ carousel({ carouselId: "prevCampaignsCarousel",
					images: [
						"assets/images/case-studies/Adenydd/prev-campaigns.webp"
						],
					orientation: "slides-horiz",
					plurality: "single-image"
				}) 
	}}
	Crucially, the page features specific amounts that were raised each year and links and information on what that money was put towards.
</div>

<hr>

<h2 id="arc-childcare-prof">Archetype - Childcare Professionals</h2>
<div class="article-section">
	Teachers and practitioners working with children who have additional needs on a regular basis.
</div>

<h3 id="childcare-prof-goals">Goals</h3>
<div class="article-section">
	Expand their professional development and learn how to better accommodate the children they work with.
</div>

<h3 id="childcare-prof-barriers">Barriers</h3>
<div class="article-section">
	Course pages exist, but information is either unclear, unavailable or locked to an external file.
	Basic things like pricing, dates and course content are not immediately visible.
	{#TODO - listification#}
</div>

<h2 id="childcare-prof-improvements">Improvements for Childcare Professionals</h2>
<div class="article-section">
	{{ carousel({ carouselId: "aboutCourseCarousel",
					images: [
						"assets/images/case-studies/Adenydd/about-this-course.webp"
						],
					orientation: "slides-horiz",
					plurality: "single-image"
				}) 
	}}
	I ensured that information about dates, times and pricing was clearly visible near the top of the page for each course.
	{{ carousel({ carouselId: "courseContentCarousel",
					images: [
						"assets/images/case-studies/Adenydd/course-content.webp"
						],
					orientation: "slides-horiz",
					plurality: "single-image"
				}) 
	}}
	Content sections were also added for upcoming and currently running courses, to help people determine which course would be right for them without having to reach out or leave the site.
	{{ carousel({ carouselId: "bookingCarousel",
					images: [
						"assets/images/case-studies/Adenydd/booking.webp"
						],
					orientation: "slides-horiz",
					plurality: "single-image"
				}) 
	}}
	Pages for upcoming and currently running courses also feature a prominent, convenient booking section, which links out to Adenydd’s forms.
</div>

<hr>

<h2 id="arc-parents">Archetype - Parents, Informal Carers and Guardians</h2>
<div class="article-section">
	Guardians and carers of children living with trauma, additional needs and adverse childhood experiences.
</div>

<h3 id="parents-goals">Goals</h3>
<div class="article-section">
	Find out what currently-running projects that they and their children can access from Adenydd.
	Access free resources that they can utilise to help themselves and their children at home.
	{#TODO - listification#}
</div>

<h3 id="parents-barriers">Barriers</h3>
<div class="article-section">
	Family-focussed services are currently mixed in with projects, and some of them are not labelled clearly.
	Project pages that are currently running lack dates, times, relevant information and photographs.
	{#TODO - listification #}
</div>

<h2 id="parents-improvements">Improvements for Parents, Informal Carers and Guardians</h2>
<div class="article-section">
	{{ gallery({ galleryId: "serviceProjGal",
					images: [
						"assets/images/case-studies/Adenydd/services-menu.webp",
						"assets/images/case-studies/Adenydd/our-projects-menu.webp"
					]
				})
	}}
	I ensured that services that were relevant to Families were labelled as such and that currently running projects were placed at the top of the navigation, to allow those who already have so little free time to find things easily.
</div>

<div class="article-section">
	{{ carousel({ carouselId: "parentsStudentsCarousel",
					images: [
						"assets/images/case-studies/Adenydd/sens-reg-parents-stud.webp"
						],
					orientation: "slides-horiz",
					plurality: "single-image"
				}) 
	}}
	Certain pages also have special ‘parent versions’ with a greater emphasis on parent participation, so that they are both easier to find via search engines, and more relevant to what parents and carers are actually looking for.
</div>

<div class="article-section">
	{{ carousel({ carouselId: "priceCarousel",
					images: [
						"assets/images/case-studies/Adenydd/price-points.webp"
						],
					orientation: "slides-horiz",
					plurality: "single-image"
				}) 
	}}
	We also ensure wherever possible that courses and other paid offerings are tiered appropriately for parents or carers and that these tiered payment options are clearly labelled and easy to find.
</div>

<hr>

<h2 id="sitewide-problems">Problem Solving - General, Sitewide Issues</h2>

<div class="article-section">
	Beyond our range of archetypes, we also made note of some more generalised issues that Adenydd was looking to solve.
</div>

<h3 id="readability-issues">Readability Issues</h3>
<div class="article-section">
	{#TODO - listification #}
	Dark text on dark backgrounds with poor contrast present across the site.
	Walls of text prevalent over the whole site, but particularly within project descriptions and case studies.
</div>

<h3 id="improving-readability">Improving Readability Issues</h3>
<div class="article-section">
	Replaced instances of poorly contrasting text with high contrast ones. Replaced large scale photo headers with a plain one that could be more easily, consistently styled by those without web design knowledge.
	Broke up long swathes of text into cards, captioned images, timelines and more. This is most obvious in the case study pages, which have become much more digestible.
</div>

<h3 id="unclear-brand">Unclear Brand Image</h3>
<div class="article-section">
	{#TODO - listification#}
	Not many image assets used and those that are used are mostly generic stock images
	No consistent colour or type scheme across the website
</div>

<h3 id="improving-brand">Improving Brand Image</h3>
<div class="article-section">
	{{ gallery({ galleryId: "headerGal",
					images: [
						"assets/images/case-studies/Adenydd/header-ballpit.webp",
						"assets/images/case-studies/Adenydd/header-mural.webp",
						"assets/images/case-studies/Adenydd/header-wibwob.webp"
					]
				})
	}}
	Created custom header assets that could be used across a variety of pages. A vector designed to look like the ‘helping hand’ in Adenydd’s logo cradles an header image that is relevant to each page. This allowed for Adenydd’s own photographs, custom illustrations and even the stock photos they had originally picked out to be displayed in a creative way that remained consistent to Adenydd’s unique brand.
	{{ gallery({ galleryId: "iconsGal",
					images: [
						"assets/images/case-studies/Adenydd/icon-big-toys.webp",
						"assets/images/case-studies/Adenydd/icon-big-hands.webp",
						"assets/images/case-studies/Adenydd/icon-big-carer.webp"
					]
				})
	}}
	Custom vectors were also created through a combination of icon libraries and the hand vector from the logo. These were used to separate and illustrate sections of case studies, course descriptions and more.
</div>

<div class="article-section">
	<img class="banner-image" src='{{"assets/images/case-studies/Adenydd/component-library.webp" | toAbsoluteUrl}}'>
	Created sets of re-usable components for use across the site to further drive consistency. This was limited by this particular web builder not having an official way of saving re-usable components. However, a workaround was devised using a hidden, unpublished page. While this does allow everyone to access re-usable components, charitable organisations like Adenydd see frequent volunteer turnover and little time to train people how to use tools like the web builder, so some inconsistencies are inevitable.
</div>

<h3 id="nav-issues">Navigation Issues</h3>
<div class="article-section">
	{#TODO listification#}
	Buttons and links do not use consistent styling so it can be difficult to know what to look for and where to click at a glance.
	Navbar is incredibly full, with many items under a single submenus. This could cause decision fatigue when visiting the site.
	Note: limitations of the site builder prevent us from changing the menu to something more suitable like a mega menu, or hiding certain menu elements on mobile. We will have to work within these limitations by prioritising the most relevant projects and recategorising pages.
</div>

<h3 id="improving-nav">Improving Navigation</h3>
<div class="article-section">
	{{ gallery({ galleryId: "buttonsGal",
					images: [
						"assets/images/case-studies/Adenydd/button-styles.webp",
						"assets/images/case-studies/Adenydd/button-styles-2.webp",
						"assets/images/case-studies/Adenydd/button-styles-3.webp"
					]
				})
	}}
	Created a small set of consistent button styles within the web builder that could easily be used by others working on the site.
</div>

<div class="article-section">
	{{ gallery({ galleryId: "naviGal",
					images: [
						"assets/images/case-studies/Adenydd/expanded-menus.webp"
					]
				})
	}}
	All menus artificially expanded via Inspect Element for clarity’s sake. Not an accurate reflection of the site.
	Recategorised pages into projects and services. Also created a “More Projects” submenu to account for projects that were no longer running or relevant. Menu’s are now of a more even size and their items are labelled more descriptively.
</div>

<h2 id="testimonials">Testimonials</h2>
{#TODO - Add testimonial from Dafydd here#}
