---js
const layout = "layouts/post.njk";

const eleventyNavigation = {
	key: "Healing Horsemanship",
	parent: "Web Design"
};

const tags = ["project","DHH","web-design","copywriting"];

const date = "2024-06-06";

const title = "Devon Healing Horsemanship";
const subheading = "Full site redesign for an equine-assisted mental health charity in Devon";
---

{#TODO Banner Image#}
<div class="article-section">
	Devon Healing Horsemanship is a mental health charity specialising in horse-powered alternatives to talk-based therapy. I was a part of a challenging project to redesign their website in time for their first anniversary.
	Some information has been obfuscated or omitted from this case study in order to protect the privacy of others. All information presented in this case study is my own and does not necessarily reflect the views of Devon Healing Horsemanship.
</div>

<h2>Details</h2>
<div class="article-section">
	Scope
	Part time volunteer work, re-design of existing website.
	Role
	Research, UX & UI design, Graphic Design, Photo Editing, Copywriting
	Tools
	Figma, Adobe Photoshop, Adobe Illustrator
</div>

<h2>Impact</h2>
<div class="article-section">
	The Devon Healing Horsemanship website continues to be worked on by a team of skilled volunteers.
	The component library and style guide have since been used to create a series of informational banners and leaflets for DHH’s stall at the Festival of the Iberian Horse.
	{#TODO - check in with louise and see if she is still looking for specific volunteers #}
	{#TODO - iberian horse festival slides #}
</div>

<h2>Background</h2>
<div class="article-section">
	{#TODO DHH official banner#}
	Founded in 2023, Devon Healing Horsemanship is the only approved charity providing interventions from The Horse Course in Devon. They primarily deliver The Horse Course ReStart: an action-based intervention utilising horsemanship to teach, rehearse and repeat key resilience skills. These skills are taught to those facing a mental health difficulty as an alternative when talk-based therapy practices have proven ineffective.
</div>
{#TODO add horse course button #}
<div class="article-section">
	DHH’s existing website – designed in 2023, was attempting to stand out among other providers of The Horse Course with its unique appearance. However, it did not reflect the founder’s distinct outlook, it wasn’t optimised for mobile, and it wasn’t driving donations.
	It was time for a change.
	{#TODO image of old site among other providers of the horse course #}
</div>
<div class="article-section">
	<h3>Challenge</h3>
	Rebrand, Redesign, Relaunch
	Our goal was to create a page that would properly showcase DHH’s work to funders and donors. However, we were aiming to be more than a donation page – we were also striving to create a welcoming place for potential participants and referrers.
</div>
<div class="article-section">
	<h3>Questions to Answer</h3>
	<ul>
		<li>
			Who are Devon Healing Horsemanship?
		</li>
		<li>
			What makes DHH's work so effective?
		</li>
		<li>
			Why should I donate to this organisation?
		</li>
	</ul>
	<h3>High Level Goals</h3>
	<ul>
		<li>
			Increase interactions from site visitors such as donations and contact referrals
		</li>
		<li>
			Improve the sites search engine optimisation
		</li>
		<li>
			Create a distinct and memorable brand image
		</li>
	</ul>
</div>
<div class="article-section">
	<h3>Role</h3>
	I lead the design of the website between April and June of 2024. This role involved research, UX & UI design, copywriting and some graphic design and photo editing.
	I worked alongside the CEO of Devon Healing Horsemanship, and when the site was ready to be built, I handed it off to a developer. 
	I would return to the project a few times to perform QA tasks and interview potential developers.
	The site launched in June 2024, in a partially complete state due to extenuating developer circumstances.
</div>

<h2>Research</h2>
<div class="article-section">
	I began researching indirect, aspirational competitors in the animal welfare and mental health spheres, to help determine the visual direction we should take the site in.
</div>
<div class="article-section">
	<h3>Early Insights</h3>
	8 websites were examined with the goal of understanding what makes them trustworthy to those that need their services and attractive to those looking to donate.
	<h4>Speaking to the Heart</h4>
	Most competitor sites speak to the user directly with calls to action. They concisely explain their mission with copy that appeals to the user’s emotions.
	{#TODO Mission statements, call to action image#}
	<h4>Donation Opportunities</h4>
	Across other sites, users were constantly being given reasons to donate and invitations to give.
	{#TODO Calls to donate image#}
	<h4>Smooth Interactions</h4>
	Looking at navigation across these sites emphasised practices that we were missing from the DHH site. Clear navigation in the header and footer were obvious requirements. Buttons and links across each individual page that lead to other areas of the site made working one’s way to the donation page feel natural.
</div>

<h2>Discovery</h2>
<div class="article-section">
	What surprised me about scouring competitor sites was the difference between larger, more indirect competitors and smaller charities like DHH. The information being presented was much the same between the two. The difference was that larger organisations had the resources to go all in on creating a strong visual brand and user experience that would make their site feel memorable.
	Despite presently lacking the resources of a larger charity, we could still create a cohesive style guide and a good experience for the site’s users, giving them the look and feel they would associate with good work.
</div>

<h2>Insights</h2>
<div class="article-section">
	<h3>User Archetypes</h3>
	Before jumping head first into a redesign, it was important to determine what needed to change about the site, and define success based on these requirements.
	Prior to redesigning, I created a list of user archetypes based on donor information provided to me by the CEO, and keeping what we had learned from competitor research in mind.
</div>
{#TODO Make this card section mean something, css wise #}
<div class="card-section">
	<div class="persona">
		<h4>{#TODO add icon#}
			Typical DHH Donor
		</h4>
		Someone who values mental health and animal welfare.
		<b>GOAL</b>
		To easily be able to donate and to see the value/impact of their donations.
		<b>BARRIER</b>
		Lack of clear donation area on the site. No reasons to donate beyond “do something great”.
	</div>
	<div class="persona">
		<h4>{#TODO add icon#}
			Professional Referrer
		</h4>
		Possibly a teacher, therapist, social worker. They have a person in their care with a mental health issue.
		<b>GOAL</b>
		They want to know how this is going to help their person before getting in touch. They need a breakdown of what DHH does and they need to see evidence that it works.
		<b>BARRIER</b>
		Evidence page is not laid out clearly. Doesn’t highlight the outcomes to the referrer. Unclear how much evidence there actually is backing up these claims.
	</div>
	<div class="persona">
		<h4>{#TODO add icon#}
			Non-Professional Referrer
		</h4>
		Possibly a self-referrer, parent, or guardian. Has some knowledge of alternative therapies. Feels that talk therapy isn’t working for their situation. May be sceptical.
		<b>GOAL</b>
		Service section lacks clarity and is difficult to read. It also does not link to the contact form or any kind of booking system. Service section does not highlight benefits or financial costs of the programme.
		<b>BARRIER</b>
		Evidence page is not laid out clearly. Doesn’t highlight the outcomes to the referrer. Unclear how much evidence there actually is backing up these claims.
	</div>
	<div class="persona">
		<h4>{#TODO add icon#}
			Referee / Participant
		</h4>
		Referred by someone else. Possibly under 18 years old. Dealing with an ongoing mental health issue. May feel anxious, unfamiliar and curious about DHH.
		<b>GOAL</b>
		Wants to find out where they are going, what they will be doing, who is going to be guiding them, etc. Essentially: what is this all about
		<b>BARRIER</b>
		The About Us page lacks warmth. It acts more as an introduction to the charity as a whole, rather than its people. Site’s copy doesn’t effectively make a connection with potential visitors.
	</div>
</div>
<div class="article-section">
	<i>These insights were primarily gained by examining donations from the JustGiving page, reading evidence and testimonials from other facilitators of TheHorseCourse, and speaking with CEO Louise about her target audience.</i>
</div>

<h2>Informative Design</h2>
<div class="article-section">
	<h3>Landing Page Elevator Pitch</h3>
	The original site did not sell itself as well as its competitors. At a glance, it was difficult to tell who this service was for and what its benefits were.
	{#TODO landing page critique image#}
	DHH sported experienced instructors, happy participants, and well-trained horses, but the original homepage put more emphasis on how new the charity was as an organisation. Equine-assisted therapy is a concept that not many people have even heard of, so it was important to emphasise what it could do and why you could trust DHH to facilitate it.
	{#TODO new landing page, annotated#}
	The new page design acts as a much better introduction to the charity, forgoing their age entirely to better emphasise who they are and what they do. Including testimonials to better show off their reputation among former participants.
</div>
<div class="article-section">
	<h3>All About DHH</h3>
	{#TODO DHH about before#}
	As a locally focussed charity, it was important that people could get to know the team that they would be entrusting with their time, money and community. The original page featured a mission statement and a bit about the team and their values as a whole. However, it didn’t introduce the team – or the horses – as individuals.
	{#TODO DHH about after#}
	Now, the page features individual cards for each member, including a photo to aid their recognition, and a short, first person introduction to keep things friendly. Even the animals get an intro, so the participants know exactly who they’re working with.
</div>
<div class="article-section">
	<h3>Effective Evidence</h3>
	{#TODO dhh evidence before#}
	The Horse Course ReStart and its outcomes have been studied in many academic papers. These can be found on DHH’s “Evidence” page, but the average reader doesn’t have time to sift through them all to figure out what they can get out of the course.
	{#TODO dhh evidence before#}
	A summary of the benefits shown in the papers emphasises our good points and lets the user know what they can expect to read in each paper.
</div>

<h2>Donation Strategy Design</h2>
<div class="article-section">
	<h3>Reason-Based Donation</h3>
	Donors want to be part of something meaningful. The site’s original sole donation link – “Do something GREAT; click here to DONATE” shows understanding of this. Despite being highly prominent sitting in the middle of the navbar, it wasn’t pulling in donations the way that was expected.
	{#TODO Old dhh donation banner#}
	A minor tweak brought this feature more inline with where people expect it to be. It became a button in the upper-right corner. The copy was also adjusted to reflect how much a donation means to the organisation – *you* make it possible. Additionally, it now brought the user to an in-built donation widget, rather than off-site.
	{#TODO new call to donate banner#}
</div>
<div class="article-section">
	<h3>Impact-Based Donation</h3>
	<h4>On-site Widget</h4>
	Donors appreciate knowing the impact of their generosity. To encourage this, we created a widget that allows for monthly and one-off donations. The widget offers suggested payment amounts, with short descriptions of what that donation can cover.
	{#TODO widget embed/widget image#}
	{#TODO view widget demo button#}
	<h5>Unexpected Constraints</h5>
	Budget constraints were tight, and we could not afford to implement a widget that accurately represented the designs. While I still think the core elements of impact-based donation are there, I had hoped to include it in the Monthly section as well as the One-Off section. In the future, we may be able to cover the cost of a more accurate widget.
	{#TODO picture of current live donation widget#}
	<h4>Something Meaningful</h4>
	Donation opportunities are now spread throughout the site. When shown the price of a service for example, the viewer is invited to donate towards covering its costs for someone who needs it.
	{#TODO site-wide donation CTAs#}
	Alongside venue info, potential donors are also invited to improve venue accessibility by helping DHH to meet some of their long term goals.
	{#TODO venue donation image#}
	Additionally, all visitors of the site are invited to sign up to the DHH newsletter so that they can receive updates on their meaningful work.
	{#TODO newsletter cta - also mention that calls to donate will be sent direct to inbox?#}
</div>
<div class="article-section">
	<h3>Incentive-Based Giving</h3>
	Devon Healing Horsemanship was actually partnered with several different incentive-based giving services before their site redesign. However, they were scattered across a number of external sites, with no central hub to find them all.
	{#TODO collection of affiliates image#}
	Adding the Support Us page makes it easier for visitors to find a way to support DHH that best suits them. It also means we don’t have to limit support to donations – the volunteering section allows people to offer up their skills instead.
	{#TODO support us page#}
</div>

<h2>Navigation</h2>
<div class="article-section">
	The original site already had a nav menu in the header, which was a good start. However, this was not compatible with mobile browsing, and required the user to scroll back to the top when looking through the site.
	{#TODO old dhh navbar#}
	This was replaced with a sticky, mobile compatible variant, to begin tackling the site navigation.
	{#TODO new dhh navbar#}
</div>
<div class="article-section">
	<h3>Navigation from Mane to Tail</h3>
	Navigation was also added to the footer, which was expanded again to contact links. This accounted for situations where the mobile menu may not be recognised by the user.
	{#TODO dhh footer navigation #}
</div>
<div class="article-section">
	<h3>Menuless Navigation</h3>
	To encourage visitors to explore more of the site, we wanted to ensure that it was easy to get around most of it without relying on the menus. This meant ensuring that we made good use of links and CTAs throughout our pages.
	{#TODO dhh cta map#}
</div>

<h2>Hand Off</h2>
<div class="article-section">
	With the majority of the design work finished, I would spend most of May and June working on polishing up the Figma library I had been working on in tandem with the site being built out. This would include proper documentation, so that the DHH team could understand it and potentially pass it on to another designer in future after my leaving.
	{#TODO dhh library preview with contact info redacted. #}
	I would also develop a short style guide based off of this library for the team to move forward with.
</div>

<h2>Screens</h2>
<div class="article-section">
	{#TODO dhh desktop and mobile screen slideshows, side by side, labelled.#}
</div>

<h2>Testimonials</h2>
<section class="centre" id="testimonials">
	{% set testList = testimonials | shuffle %}
	<ul class="card-list">
		{% for testimonial in testList %}
		<li class="card testimonial">
			<q>{{testimonial.testimonial}}</q>
			<div class="persona"><i class="ri-chat-2-fill"></i><p><b>{{testimonial.persona}}</b></p></div>
		</li>
		{% endfor %}
	</ul>
	{#TODO Only add DHH testimonials here - maybe we need tags?#}
</section>