---js
const layout = "layouts/post.njk";

const eleventyNavigation = {
	key: "Healing Horsemanship",
	parent: "Web Design"
};

const tags = ["project","DHH","web-design"];

const date = "2024-06-06";

const title = "Devon Healing Horsemanship";
const subheading = "Website Design";
---

Devon Healing Horsemanship is a mental health charity specialising in horse-powered alternatives to talk-based therapy. I was a part of a challenging project to redesign their website in time for their first anniversary.

Some information has been obfuscated or omitted from this case study in order to protect the privacy of others. All information presented in this case study is my own and does not necessarily reflect the views of Devon Healing Horsemanship.

