---js
const layout = "layouts/post.njk";

const eleventyNavigation = {
	key: "Give & Grow",
	parent: "Web Design"
};

const title = "Give and Grow CIC";
const subheading = "...";
---

{%- from 'projectCards.njk' import filteredProjects %}

{{ filteredProjects ({ 
        projectList: collections.projects,
        filter: 'give-grow'
     }) }}