---js
const layout = "layouts/subpage.njk";

const eleventyNavigation = {
	key: "Give & Grow",
	parent: "Web Design",
        parentUrl: "/web-design/"
};

const title = "Give and Grow CIC";
const subheading = "Founded by Eva Mamphilly";
const intro = "Give and Grow is a community interest company dedicated to helping students who are unable to afford full-price tutoring sessions, but are also ineligible for financial support from traditional aid systems.";
---

{%- from 'projectCards.njk' import filteredProjects %}

{{ filteredProjects ({ 
        projectList: collections.projects,
        filter: 'give-grow'
     }) }}