---js
const layout = "layouts/post.njk";

const eleventyNavigation = {
	key: "More",
	parent: "Web Design",
	parentUrl: "/web-design/"
};
---

{#TODO GIVE THIS A SUPER FUTURE OR SUPER PAST DATE AND SEE IF THAT MAKES IT APPEAR AT THE BOTTOM#}
{#TODO - PROJECTS LABELLED MISC OR MORE ARE DISPLAYED HERE AS CARDS#}