---js
const layout = "layouts/subpage.njk";

const eleventyNavigation = {
	key: "More",
	parent: "Web Design",
	parentUrl: "/web-design/"
};

const title = "More"

const date = "2000"
---

{%- from 'projectCards.njk' import filteredProjects %}
{{ filteredProjects ({ 
        projectList: collections.projects,
        filter: 'other'
     }) }}