---js
const layout = "layouts/post.njk";

const eleventyNavigation = {
	key: "V.E.D",
	parent: "Web Design"
};

const tags = ["project","VED","web-design"];

const date = "2024-06-06";

const title = "Very Evil Demons";
const subheading = "Website Design";
---

{#TODO: Banner Image - a look at the completed VED website. #}
<div class="article-section">
	Very Evil Demons are an independent, worker-owned, game development studio, based in Dundee, Scotland. 
	They specialise in porting, prototyping, co-development and optimisation.
	VED reached out to me in June of 2024, asking me to design their new website, with the goal of creating a central hub for their brand identity, and attracting potential clients.
	Some information has been obfuscated or omitted from this case study in order to protect the privacy of others. 
	All information presented in this case study is my own and does not necessarily reflect the views of Very Evil Demons.
	{#TODO: Add a View all Screen button linking out to VED website #}
</div>

<h2>Impact</h2>
<div class="article-section">
	The site launched on 16/08/24.
	Since then, Very Evil Demons have reported a significant increase in the number of contacts seeking their work.
	They have also been invited to give talks at Abertay University, and other gaming events across Scotland.
	They have also recently released Bean to Me! - a digital twist on the popular game of Mancala.
	{#TODO Add a button that links out to the Bean To Me steam page. #}
</div>

<h2>About VED</h2>
<div class="article-section">
	{#TODO add VED logo #}
	Founded in 2024, Very Evil Demons are an independent game-development studio. 
	Though the company itself is fairly new, its members all have several years of game-development experience and numerous projects under their belts.
	At the beginning of this project, they had no existing website, or social media presence to work from. 
	They did however, have a strong brand guidelines document, and an extensive list of inspirations.
	{#TODO add a slice of their moodboard docco #}
</div>

<h2>Challenge</h2>
<div class="article-section">
	The idea was to create a site that would properly showcase VED’s unique style and their collective works, aiming to attract potential investors, employers, and collaborators.
</div>
<div class="article-section">
	<h3>High Level Goals</h3>
	<ul>
		<li>Bring in more work and contacts to VED.</li>
		<li>Present a variety of interesting projects.</li>
		<li>Showcase VED's distinct brand image.</li>
	</ul>
</div>
<div class="article-section">
	<h3>Role</h3>
	I lead the design of the website during late June and early July of 2024. 
	This involved research, UX & UI design, and a little bit of graphic design.
	The site launched fully in August 2024. 
	I then returned to VED for a short period after its launch to assist with visual and usability QA.
</div>

<h2>Project Inspirations</h2>
<div class="article-section">
	Before any design could begin, I decided to examine VED’s list of inspirations, to get a better idea of where they would like to be, visually. 
	I initially pulled from 8 of their listed inspirations. 
	Those with their own websites or online content were prioritised, so that I could get a better idea of how they presented their works in a digital context.
</div>
<div class="article-section">
	<h3>All In One</h3>>
	Many of those web pages examined had the vast majority of the information the user would require within their landing page. 
	Although this is considered a design standard, it is clear that in these cases, there is an artistic flair that sets them apart.
	{#TODO Add morkborg and firewatch gifs - make sure they're formatted in a row.#}
</div>
<div class="article-section">
	<h3>Bold and Illustrative</h3>
	Many of the examined web pages utilised an assortment of custom illustrations to signpost different areas of the site.
	{#TODO Add the inspo image with mork, sajan and louie #}
</div>
<div class="article-section">
	<h3>Gothic Mystery</h3>
	{#TODO add vermis screenshots #}
	VED sought to convey a mysterious, dark fantasy image. This can be a difficult task when the website’s primary function is to inform. However, it is still possible to achieve this through presentation, copy, and graphics.
	{#TODO Add chimera screenshots #}
</div>

<h2>Deeper Insights</h2>
<div class="article-section">
	The main challenge of creating a good site for an emerging studio comes from standing out among those who already have a presence. 
	On paper, the information you present is much the same as that of your competitors. 
	To stand out, you need more than a unique aesthetic - which VED has definitely got covered - you need to maximise usability for your target audience.
</div>
<div class="article-section">
	<h3>Target Audience</h3>
	With suggestions from VED, I created a list of potential user archetypes, keeping the major goals for this project in mind.
</div>
{#TODO Make this card section mean something, css wise #}
<div class="card-section">
	<div class="persona">
		<h4>{#TODO add icon#}
			Potential Clients
		</h4>
		Larger game development studios, art galleries and other large-scale creative endeavours. Approached by VED.
		<b>GOAL</b>
		Want to know that VED is putting out good work before bringing them onto a project.
		<b>BARRIER</b>
		There is a lot of information to deliver on the landing page. 
		We need a specialised projects page that can be linked to.
	</div>
	<div class="persona">
		<h4>{#TODO add icon#}
			Independent Creatives
		</h4>
		Individual or small team. May have found VED through social media, projects, or in-person events. May reach out first.
		<b>GOAL</b>
		Find out about VEDs work and get in contact with them about a potential project.
		<b>BARRIER</b>
		Contact forms are typically presented at the bottom of a page, if they do not have their own page. As the landing page grows, we need to implement some kind of shortcut to the Contact Us area
	</div>
	<div class="persona">
		<h4>{#TODO add icon#}
			Future Collaborators
		</h4>
		Skilled, creative individuals in game-development. May have found VED on career-focussed sites like LinkedIn, or through their works.
		<b>GOAL</b>
		Find out more about the VED team and their policies before making contact to discuss collaboration or becoming part of the team*
		<b>BARRIER</b>
		The landing page needs to focus more on tangible projects and outcomes. “About” information has a bit lower priority. It may be best to give it it’s own page
	</div>
</div>
<div class="article-section">
	<i>* Future Collaborators are not the primary target audience at this stage for the company. However, connecting with other creatives is useful for expanding one’s network, so it’s important to consider them.</i>
</div>

<h2>Site Breakdown</h2>
<div class="article-section">
	<h3>Landing Page</h3>
	The new landing page acts as a concise introduction to VED, and a “hub” for everything that they want you to see.
	{#TODO: Side by side prototype and final landing pages #}
	From here, or the Nav Bar, you can move to any of the site's other main pages.
	{#TODO high level VED sitemap #}
	To ensure that the user would not reach a dead end, even the 404 page funnels into Contact Us.
</div>
<div class="article-section">
	<h3>Illustrations</h3>
	In my initial designs, I wanted to give VED a good idea of how to theme their sections and where they could put icons, illustrations and photos. 
	VED expressed that they would prefer to use their own custom illustrations in the final product, but agreed that it would be good for me to use public domain, medieval artworks to help outline the “feel” for each page
	{#TODO: Side by side prototype and final about pages #}
	Using images sourced from the public domain meant that they could be added to the site in its early stages, affording VED more time to work on their custom pieces while still being able to seek work with their new site.
	{#TODO Initial, mid, final landing page(s), in a row #}
</div>
<div class="article-section">
	<h3>Gothic Feel</h3>
	With the goal of creating an experience as well as a website, each page follows an eerie, magical theme. 
	Tarot readings, alchemical circles and spirit boards evoke feelings of mystery as you explore the dark corners of this digital dungeon.
	{#TODO contact, wip, news snippets #}
</div>

<h2>Initial Screens</h2>
{#TODO slideshow of the initial VED website screens#}

<h2>Testimonials</h2>
<section class="centre" id="testimonials">
	{% set testList = testimonials | shuffle %}
	<ul class="card-list">
		{% for testimonial in testList %}
		<li class="card testimonial">
			<q>{{testimonial.testimonial}}</q>
			<div class="persona"><i class="ri-chat-2-fill"></i><p><b>{{testimonial.persona}}</b></p></div>
		</li>
		{% endfor %}
	</ul>
	{#TODO Only add VED testimonials here - maybe we need tags?#}
</section>