---js
const layout = "layouts/post.njk";

const eleventyNavigation = {
	key: "V.E.D",
	parent: "Web Design"
};

const tags = ["project","VED","web-design"];

const date = "2024-06-06";

const title = "Very Evil Demons";
const subheading = "Website Design";
---

Very Evil Demons are an independent, worker-owned, game development studio, based in Dundee, Scotland. They specialise in porting, prototyping, co-development and optimisation

VED reached out to me in June of 2024, asking me to design their new website, with the goal of creating a central hub for their brand identity, and attracting potential clients.

Some information has been obfuscated or omitted from this case study in order to protect the privacy of others. All information presented in this case study is my own and does not necessarily reflect the views of Very Evil Demons.
