---js
const layout = "layouts/subpage.njk";

const eleventyNavigation = {
	key: "Website",
	parent: "Give & Grow"
};

const tags = ["project","give-grow","web-design","dev"];

const date = "2025-06-06";

const title = "Give and Grow CIC";
const subheading = "Creating a functional website from the ground up for a tutoring CIC based in London";
---

{#TODO Banner Image - a look at the completed Give and Grow website. #}
<div class="article-section">
	Give and Grow is a community interest company dedicated to helping students who are unable to afford full-price tutoring sessions, but are also ineligible for financial support from traditional aid systems.
	{#TODO: Add a View all Screen button linking out to Give & Grow website #}
</div>

<h2>Details</h2>
<div class="article-section">
	Scope
	Founding volunteer, creator of design system and web branding, full-site development from scratch.
	Role
	UX & UI design, Copywriting, Graphic design, Web developer, Research
	Tools
	Figjam, Figma, VSCode, HTML, JS, CSS, Nunjucks, Adobe Photoshop, Adobe Illustrator
</div>

<h2>Impact</h2>
<div class="article-section">
	The site launched on 16/08/24.
	Give and Grow is still in it’s early stages as a CIC and has not yet fully launched as a program to the public. Thanks to the website, they have successfully recruited a Safeguarding officer.
	Give and Grow continues to seek tutors and other volunteers to help it’s running. Please visit the website, or contact Eva Mamphilly for more details.
	{#TODO Add visit and contact buttons for the website and Eva specifically #}
</div>

<h2>Challenges</h2>
<div class="article-section">
	I came into this CIC at its earliest stages and had to be prepared for big changes throughout the process. The structure of the site, its funding structure and its members would all change during my time working on it.
	Initial wireframes showed a news section, which had to be removed for the site launch as we had no news to share yet and no blog-writer on board. The idea of including LinkedIn embeds was floated, but not within the scope of the official LinkedIn API that we had access to. We also lost our social media writer during this time.
	The news section was switched out for an Open Roles section, as we thought it would be more appropriate to highlight the fact that we were actively recruiting.
	{#TODO Add a view open roles button#}
</div>

<h2>Initial Designs</h2>
<div class="article-section">
	I initially met founder Eva Mamphilly via Zoom, where we discussed the purpose of the site and some potential visuals. Eva passed on a moodboard and web structure to me and I got to work on some basic layouts.
	{#TODO ADD LANDING, ABOUT, TUTORS, STUDENTS AND CONTACT PAGE THUMBNAILS IN A SLIDESHOW.#}
	Based on the initial moodboard, I created a higher fidelity version of the landing page. Colour contrast has to be increased from the original palette to meet readability guidelines.
	{#TODO ADD MOODBOARD AND LANDING PAGE AS SIDE BY SIDE THUMBNAILS.#}
	We met again to discuss these designs and the wireframes were approved. The landing page pass proved useful as the client realised that she wanted to take the sites visuals in a different direction, stating that the original palette and mountain motif looked too mature for our target audience of secondary school students and university candidates.
</div>

<h2>Branding</h2>
<div class="article-section">
	The client sent me an updated, basic landing page image with more of a “pop” colour scheme. She also sent me a diagram demonstrating the organisations funding system.*
	{#TODO ADD THUMBNAILS OF EVAS UPDATED COLOUR SCHEME AND EVAS INITIAL PINK AND BLUE DIAGRAM.#}
	*subject to change
	With this new colour scheme and “doodle” style in mind I took another pass at the landing page, merging Illustrator-drawn doodles and stock images to form a more unique, on-brand look.
	{#TODO ADD THUMBNAIL IMAGE OF UPDATED LANDING PAGE.#}
	For more information on the graphic and brand design, please visit the Graphics Gallery.
	{#TODO ADD INLINE LINK OR BUTTON SENDING YOU TO THE GRAPHICS GALLERY.#}
</div>


<h2>Research</h2>
<h3>User Personas</h3>
<div class="article-section">
	Before expanding this initial design, it was important to outline the target audience. I created some personas, keeping the info provided by the founder in mind.
	<div class="persona">
		User Persona - Alex
		“I have to pass so I can get into uni..!"
		{#TODO create tables for this#}
		Age
		16 years old
		Location
		London, England
		Profession
		Secondary School Student
		Lifestyle
		Full-Time student, works a part time job to support their family.
		Goals
		Wants to get a good grade in Biology to be able to pursue a veterinary degree, but is having trouble with some areas of the subject.
		Pain Points
		Struggling to find extra time to study. Their family doesn’t make enough money to afford expensive private tutoring, but they don’t quite qualify for fully subsidised tutoring or other financial assistance.
	</div>
	<div class="persona">
		User Persona - Taylor
		“I want to help people.”
		{#TODO create tables for this#}
		Age
		20 years old
		Location
		London, England
		Profession
		Full-Time University Student, 2nd year BSc Biology
		Lifestyle
		Full time student at university, currently taking a biology course, but excelled in a variety of subjects during secondary school.
		Goals
		Wants to become a biology teacher
		Pain Points
		Unable to find a reliable tutoring gig, but wants to gain some teaching experience.
	</div>
</div>

<h3>Competitor Research</h3>
<div class="article-section">
	I also took the time to examine competing organisations at a variety of scales and noticed some trends in how organisations presented themselves.
	{#TODO create table for this#}
	Aiming at Investors
	Aiming at Students
	Calmer colours, large photographs of the work they’ve done
	Pop colours, custom graphics
	Impact-first language e.g. “we have helped x number of people in y”
	Involvement-first language e.g. “join us!”
</div>

<h3>Pain Point - Establishing G&G</h3>
<div class="article-section">
	Many established tutoring charities are able to display their impact, where their funds are spent, their mentions in local news etc. to prove their legitimacy. Being a very early stage CIC, this information was unavailable to us - we would have to prove ourselves through other means.
	The ways we chose to prove our legitimacy were as follows:
	{#TODO add screengrabs of our clear, diagramatic explanations}
	Clear explanations of what we would be doing throughout the pages of the site.
	{#TODO add the meet the team section as some kind of screenshot#}
	Showing the people behind Give and Grow and their motivations for working on the project.
	{#TODO add the policies section#}
	Ensuring that policies and relevant paperwork are up-to-date and easy to find from any page.
</div>

<h2>Design For Donation</h2>
<div class="article-section">
	Calls to donate are present in the form of a footer for the majority of our main pages. Currently, subpages such as Meet the Team and Volunteer With Us do not have the large donation banner, as it does not feel relevant to those pages.
	{#TODO add a few screenshots of these doantion calls.#}
</div>

<h3>Considering Students</h3>
<div class="article-section">
	We assessed that our target audience of students would likely not be able to donate so on the on the Students page that is directly aimed at them, we chose to forego the donation banner entirely.
</div>

<h3>Future Plans - Meaningful, Impact-Based Donation</h3>
<div class="article-section">
	When we have evidence of how funds have been utilised, this will be displayed on the website, alongside a call to donate.
	Should we need to fundraise for anything specific (improved tutor training, expansion of the subject list, etc.), specific CTAs will be added across the site, highlighting this.
	For examples of what this could look like, please view a similar technique from the Devon Healing Horsemanship Project.
	{#TODO Add a link to the donation section for the Devon Healing Horsemanship Project.#}
</div>

<h2>Code</h2>
<h3>Pass It On</h3>
<div class="article-section">
	This site was coded with the idea that it should be easy for another volunteer to expand upon the work that has been done. Since this organisation relies on volunteer labour, I tried to ensure that the stack would be fairly common and simple to pick up.
	<h4>Stack</h4>
	HTML, CSS, JS, Nunjucks, Eleventy, Liquid, JSON, Markdown
</div>

<h3>Easy To Change</h3>
<div class="article-section">
	As this CIC is in its early stages, the codebase has been designed to be easily changeable without a lot of dev input. Certain lists such as the list of volunteers are represented in JSON so that they can easily be pulled from an Excel file. Important documentation such as policies are displayed from markdown files so that they can easily be changed and updated just by exporting the file they originally came from.
	Additionally, the assessment form for students is currently an embedded Google Form. This is to allow the founder to be able to make quick changes as the organisation finds its footing and refines its criteria.
</div>

<h3>Hand Off</h3>
<div class="article-section">
	I also created a component library and brand guidelines to be passed onto any future code or design volunteers.
	{#TODO: LINK COMING SOON. WORK IN PROGRESS#}
</div>

<h2>Future Expansions</h2>
<h3>Tutor Login</h3>
<div class="article-section">
	Give and Grow is currently in talks to partner with a university that has an existing online tutor system. If this is successfully established, then a login system for tutors that are part of that service should be integrated into the Give and Grow site.
</div>