---js
const layout = "layouts/subpage.njk";

const eleventyNavigation = {
	key: "Website",
	parent: "Give & Grow"
};

const tags = ["project","give-grow","web-design","dev"];

const date = "2025-06-06";

const title = "Website";
const subheading = "...";
---

Give and Grow is a community interest company dedicated to identifying and supporting students who are unable to fund tutoring sessions, targeting the students who are not eligible for any financial support from traditional systems. This platform offers a pay-it forward model where proceeds from paid tutoring sessions are used to directly fund free lessons for students in need. The eligibility for free sessions are determined on a case-by-case basis and the individual context of each student.