---js
const layout = "layouts/post.njk";

const eleventyNavigation = {
	key: "Website",
	parent: "Give & Grow",
	parentUrl: "/web-design/give-and-grow"
};

const tags = ["project","give-grow","web-design","dev"];

const date = "2025-06-06";

const title = "Give and Grow CIC";
const subheading = "Creating a functional website from the ground up for a tutoring CIC based in London";
const bannerImg = "assets/images/case-studies/Give-and-Grow/GAGBanner.webp";
---
{%- from 'inlineTable.njk' import inlineTable %}
{%- from 'imageGallery.njk' import gallery %}
{%- from 'alpineCarousel.njk' import alpineCarousel %}
{%- from 'personas.njk' import personas %}
{%- from 'filteredTestimonials.njk' import filteredTestimonials %}

<img class="banner-image" src='{{bannerImg | toAbsoluteUrl}}'>
<div class="article-section">
	Give and Grow is a community interest company dedicated to helping students who are unable to afford full-price tutoring sessions, but are also ineligible for financial support from traditional aid systems.
	<div class="btn row">
		<a class="btn primary"
					href="https://giveandgrowcic.co.uk/"
					target="_blank" rel="noopener noreferrer">Visit Give & Grow<i class="ri-arrow-right-s-fill"></i></a>
	</div>
</div>

<h2 id="details">Details</h2>
	{{ inlineTable ({
			table: [
				{
					header: "Scope",
					bodyItems: [
						"Founding volunteer",
						"Creator of design system and branding",
						"Full-site development from scratch"
					]
				},
				{
					header: "Role",
					bodyItems: [
						"Research",
						"UX & UI design",
						"Copywriting",
						"Graphic Design",
						"Web Development"
					]
				},
				{
					header: "Tools",
					bodyItems: [
						"Figma",
						"Figjam",
						"VSCode",
						"HTML",
						"CSS",
						"Nunjucks",
						"Adobe Photoshop",
						"Adobe Illustrator"
					]
				}
			]
		})
	}}

<h2 id="impact">Impact</h2>
<h3 id="completed-screens">Completed Screens</h3>
<div class="article-section">
	{{ alpineCarousel({ carouselId: "completedCarousel",
					images: [
						{src:"assets/images/case-studies/Give-and-Grow/Completed/homepage.webp"},
						{src:"assets/images/case-studies/Give-and-Grow/Completed/about.webp"},
						{src:"assets/images/case-studies/Give-and-Grow/Completed/meet-the-team.webp"},
						{src:"assets/images/case-studies/Give-and-Grow/Completed/volunteer-with-us.webp"},
						{src:"assets/images/case-studies/Give-and-Grow/Completed/students.webp"},
						{src:"assets/images/case-studies/Give-and-Grow/Completed/assessment.webp"},
						{src:"assets/images/case-studies/Give-and-Grow/Completed/tutors.webp"},
						{src:"assets/images/case-studies/Give-and-Grow/Completed/become-a-tutor.webp"},
						{src:"assets/images/case-studies/Give-and-Grow/Completed/meet-tutors.webp"},
						{src:"assets/images/case-studies/Give-and-Grow/Completed/contact.webp"}
						],
						orientation: "slides-vert"
				}) 
	}}
</div>
<div class="article-section">
	The site launched on 16/08/24.
	Give and Grow is still in it’s early stages as a CIC and has not yet fully launched as a program to the public. Thanks to the website, they have successfully recruited a Safeguarding officer.
	Give and Grow continues to seek tutors and other volunteers to help it’s running. Please visit the website, or contact Eva Mamphilly for more details.
	<div class="btn row">
		<a class="btn primary" href="https://giveandgrowcic.co.uk/" target="_blank" rel="noopener noreferrer">Visit Give &amp; Grow<i class="ri-arrow-right-s-fill"></i></a>
		<a class="btn primary" href="https://www.linkedin.com/in/eva-mampilly-755476284/" target="_blank" rel="noopener noreferrer">Contact Eva<i class="ri-arrow-right-s-fill"></i></a>
	</div>
</div>

<h2 id="challenges">Challenges</h2>
<div class="article-section">
	I came into this CIC at its earliest stages and had to be prepared for big changes throughout the process. The structure of the site, its funding structure and its members would all change during my time working on it.
	Initial wireframes showed a news section, which had to be removed for the site launch as we had no news to share yet and no blog-writer on board. The idea of including LinkedIn embeds was floated, but not within the scope of the official LinkedIn API that we had access to. We also lost our social media writer during this time.
	The news section was switched out for an Open Roles section, as we thought it would be more appropriate to highlight the fact that we were actively recruiting.
	<div class="btn row">
		<a class="btn primary" href="https://reachvolunteering.org.uk/org/give-and-grow-cic" target="_blank" rel="noopener noreferrer">View Open Roles<i class="ri-arrow-right-s-fill"></i></a>
	</div>
</div>

<h2 id="initial-designs">Initial Designs</h2>
<div class="article-section">
	I initially met founder Eva Mamphilly via Zoom, where we discussed the purpose of the site and some potential visuals. Eva passed on a moodboard and web structure to me and I got to work on some basic layouts.
	{{ alpineCarousel({ carouselId: "initialCarousel",
					images: [
						{src:"assets/images/case-studies/Give-and-Grow/landing-sticky.webp"},
						{src:"assets/images/case-studies/Give-and-Grow/landing-edit.webp"},
						{src:"assets/images/case-studies/Give-and-Grow/about.webp"},
						{src:"assets/images/case-studies/Give-and-Grow/students.webp"},
						{src:"assets/images/case-studies/Give-and-Grow/tutors.webp"},
						{src:"assets/images/case-studies/Give-and-Grow/news.webp"},
						{src:"assets/images/case-studies/Give-and-Grow/contact.webp"}
						],
					orientation: "slides-vert" 
				}) 
	}}
	Based on the initial moodboard, I created a higher fidelity version of the landing page. Colour contrast has to be increased from the original palette to meet readability guidelines.
	{{ gallery ({
		galleryId: "moodboardGallery",
		images: [
			"assets/images/case-studies/Give-and-Grow/Moodboard.webp",
			"assets/images/case-studies/Give-and-Grow/Mid-FiLanding.webp"
		]
	})}}
	We met again to discuss these designs and the wireframes were approved. The landing page pass proved useful as the client realised that she wanted to take the sites visuals in a different direction, stating that the original palette and mountain motif looked too mature for our target audience of secondary school students and university candidates.
</div>

<h2 id="branding">Branding</h2>
<div class="article-section">
	The client sent me an updated, basic landing page image with more of a “pop” colour scheme. She also sent me a diagram demonstrating the organisations funding system.*
	*subject to change
	With this new colour scheme and “doodle” style in mind I took another pass at the landing page, merging Illustrator-drawn doodles and stock images to form a more unique, on-brand look.
	{{ alpineCarousel({ carouselId: "newSchemeCarousel",
					images: [
						{src:"assets/images/case-studies/Give-and-Grow/colour-scheme-2.webp",
						caption: "Sketch with updated colour scheme provided by Eva"},
						{src:"assets/images/case-studies/Give-and-Grow/Completed/homepage.webp",
						caption: "Updated homepage based on sketches"}
						],
					orientation: "slides-vert" 
				}) 
	}}
	For more information on the graphic and brand design, please visit the Graphics Gallery.
	<div class="btn row">
		<a class="btn primary" href="{{'/web-design/Give-And-Grow/graphic-gallery/' | toAbsoluteUrl}}" target="_blank" rel="noopener noreferrer">View Graphic Gallery<i class="ri-arrow-right-s-fill"></i></a>
	</div>
</div>


<h2 id="research">Research</h2>
<h3 id="user-personas">User Personas</h3>
<div class="article-section">
	Before expanding this initial design, it was important to outline the target audience. I created some personas, keeping the info provided by the founder in mind.
</div>
	{{ personas({
		personas: [
			{
				icon: "ri-hand-heart-fill",
				name: "Alex",
				age: "16 years old",
				location: "London, England",
				profession: "Secondary School Student",
				subheading: "Full-time student, works a part time job to support their family",
				goals: [
					"Get a good grade in Biology",
					"Overcome any areas they struggle with in Biology class",
					"Meet the requirements to pursue a veterinary degree"
				],
				barriers: [
					"Struggling to find extra time to study",
					"Family doesn't make enough money for expensive private tutoring",
					"Family's financial situation also doesn't qualify for subsidised tutoring or other financial assistance"
				]
			},
			{
				icon: "ri-hand-heart-fill",
				name: "Taylor",
				age: "20 years old",
				location: "London, England",
				profession: "Full-Time University Student, 2nd year BSc Biology",
				subheading: "Currently taking a university-level biology course, but excelled in a variety of subjects during secondary school",
				goals: [
					"Gain some experience working with secondary-school age children",
					"Develop teaching skills",
					"Become a biology teacher"
				],
				barriers: [
					"Unable to find a reliable tutoring gig",
					"Busy univerity schedule means that Taylor needs something flexible",
					"Hasn't tutored before and would prefer to learn with others rather than figure it all out on their own"
				]
			}
			
		]
	})}}

<h3 id="competitor-research">Competitor Research</h3>
<div class="article-section">
	I also took the time to examine competing organisations at a variety of scales and noticed some trends in how organisations presented themselves.
</div>
	{{ inlineTable ({
			table: [
				{
					header: "Aiming at Investors",
					bodyItems: [
						"Calmer colours",
						"Large photographs of the work they have done",
						"Impact-first language e.g. 'we have helped x number of people in y'"
					]
				},
				{
					header: "Aiming at Students",
					bodyItems: [
						"Pop colours",
						"Custom graphics",
						"Involvement-first language e.g. 'join us!'"
					]
				}
			]
		})
	}}

<h3 id="establishing-give-grow">Pain Point - Establishing G&G</h3>
<div class="article-section">
	Many established tutoring charities are able to display their impact, where their funds are spent, their mentions in local news etc. to prove their legitimacy. Being a very early stage CIC, this information was unavailable to us - we would have to prove ourselves through other means.
	The ways we chose to prove our legitimacy were as follows:
	<h4>Site-Wide Explanations</h4>
	{{ alpineCarousel({ carouselId: "legitCarousel",
					images: [
						{src:"assets/images/case-studies/Give-and-Grow/HowDoesItwork.webp",
						caption: "Upfront explanation on the Homepage"},
						{src:"assets/images/case-studies/Give-and-Grow/Gallery/illustrations/fundingmodel.webp",
						caption: "Diagramatic funding model explanation"},
						{src:"assets/images/case-studies/Give-and-Grow/FAQ.webp",
						caption: "Expanding FAQ section on the Contact page"}
						],
					orientation: "slides-horiz" 
				}) 
	}}                                
	<h4>Meet The Team</h4>
	{{ alpineCarousel({ carouselId: "meetTeamCarousel",
					images: [
						{src:"assets/images/case-studies/Give-and-Grow/MeetTeam.webp",
						caption: "Showing the people behind Give and Grow and their motivations for working on the project."}
						],
					orientation: "slides-horiz" 
				}) 
	}}  
	<h4>Easy-To-Find Policies</h4>
	{{ alpineCarousel({ carouselId: "policyCarousel",
					images: [
						{src:"assets/images/case-studies/Give-and-Grow/FooterWithPols.webp",
						caption: "Policy links in the footer, allowing them to be found and viewed from any page"},
						{src:"assets/images/case-studies/Give-and-Grow/PoliciesSection.webp",
						caption: "Policies section on the about page - clearly labelled and easy to locate"}
						],
					orientation: "slides-horiz" 
				}) 
	}} 
</div>

<h2 id="design-for-donation">Design For Donation</h2>
<div class="article-section">
	Calls to donate are present in the form of a footer for the majority of our main pages. Currently, subpages such as Meet the Team and Volunteer With Us do not have the large donation banner, as it does not feel relevant to those pages.
	{{ alpineCarousel({ carouselId: "donateCarousel",
					images: [
						{src:"assets/images/case-studies/Give-and-Grow/DonateHeader.webp",
						caption: "Donation button, always present in the header"},
						{src:"assets/images/case-studies/Give-and-Grow/DonateFooter.webp",
						caption: "Donation footer - present on most pages"},
						{src:"assets/images/case-studies/Give-and-Grow/DonateDiagram.webp",
						caption: "Another call to donation, next to the diagramatic explanation of the funding model"}
						],
					orientation: "slides-horiz" 
				}) 
	}} 
</div>

<h3 id="considering-students">Considering Students</h3>
<div class="article-section">
	We assessed that our target audience of students would likely not be able to donate so on the on the Students page that is directly aimed at them, we chose to forego the donation banner entirely.
</div>

<h3 id="impact-donation">Future Plans - Meaningful, Impact-Based Donation</h3>
<div class="article-section">
	When we have evidence of how funds have been utilised, this will be displayed on the website, alongside a call to donate.
	Should we need to fundraise for anything specific (improved tutor training, expansion of the subject list, etc.), specific CTAs will be added across the site, highlighting this.
	For examples of what this could look like, please view a similar technique from the Devon Healing Horsemanship Project.
	<div class="btn row">
		<a class="btn primary" href="{{'web-design/DHH/#donation-strategy-design' | toAbsoluteUrl}}" target="_blank" rel="noopener noreferrer">DHH Donations<i class="ri-arrow-right-s-fill"></i></a>
	</div>
</div>

<h2 id="code">Code</h2>
<h3 id="pass-it-on">Pass It On</h3>
<div class="article-section">
	This site was coded with the idea that it should be easy for another volunteer to expand upon the work that has been done. Since this organisation relies on volunteer labour, I tried to ensure that the stack would be fairly common and simple to pick up.
	<h4>Stack</h4>
	HTML, CSS, JS, Nunjucks, Eleventy, Liquid, JSON, Markdown
</div>

<h3 id="easy-to-change">Easy To Change</h3>
<div class="article-section">
	As this CIC is in its early stages, the codebase has been designed to be easily changeable without a lot of dev input. Certain lists such as the list of volunteers are represented in JSON so that they can easily be pulled from an Excel file. Important documentation such as policies are displayed from markdown files so that they can easily be changed and updated just by exporting the file they originally came from.
	Additionally, the assessment form for students is currently an embedded Google Form. This is to allow the founder to be able to make quick changes as the organisation finds its footing and refines its criteria.
</div>

<h3 id="hand-off">Hand Off</h3>
<div class="article-section">
	I also created a component library and brand guidelines to be passed onto any future code or design volunteers.
	{{ alpineCarousel({ carouselId: "componentCarousel",
					images: [
						{src:"assets/images/case-studies/Give-and-Grow/GAGLibrary.webp",
						caption: "Preview: Library Cover"}
					]
				}) 
	}} 
</div>

<h2 id="future-expansions">Future Expansions</h2>
<h3 id="tutor-login">Tutor Login</h3>
<div class="article-section">
	Give and Grow is currently in talks to partner with a university that has an existing online tutor system. If this is successfully established, then a login system for tutors that are part of that service should be integrated into the Give and Grow site.
</div>

<h2 id="testimonial-section">Testimonials</h2>
	{{ filteredTestimonials({
		listOfAll: testimonials,
		filter: "GiveGrow"
	}) }}