---js
const layout = "layouts/post.njk";

const eleventyNavigation = {
	key: "CareFit",
	parent: "Case Studies"
};

const tags = ["project","case-study"];

const date = "2019-01-01";

const title = "CareFit";
const subheading = "An Application to Encourage Exercise in Informal Carers";
---



The benefits of exercise are considered general knowledge. Still, most people cannot find time to get active. New tech and equipment makes it easier for us to keep up with an exercise routine, but the financial barrier for entry can be high.

One in ten people in the UK are informal carers, and for them, that barrier for entry may look even higher. Many carers dedicate 50 or more hours a week to unpaid care duties, and many are also low-income.

Declining health among informal carers has been reported, but it can be difficult for them to slot in preventative behaviours like exercise.

CareFit was designed to encourage those informal carers to use exercise as a means of looking after their own health. It focussed heavily on user-driven development and designing for older adults.
