---js
const layout = "layouts/subpage.njk";

const eleventyNavigation = {
	key: "E-Save",
	parent: "Case Studies",
	parentUrl: "/Case-Studies/"
};


const title = "E-Save";
const subheading = "The following are UXR studies I conducted and suggested changes I put forward for the E-Save app whole working with Eco Centre SW ";
---

{#TODO fill with real content from the prepared slides#}