---js
const layout = "layouts/subpage.njk";

const eleventyNavigation = {
	key: "E-Save",
	parent: "Case Studies"
};

const title = "E Save";
const subheading = "...";
---

//TODO - THIS IS A DUPLICATE PAGE ON PURPOSE - IT MUST BE TURNED INTO A WRAPPER FOR THE ACTUAL CONTENT