---js
const layout = "layouts/subpage.njk";

const eleventyNavigation = {
	key: "Morses Club",
	parent: "Case Studies"
};

const title = "Morses Club";
const subheading = "...";
---

//TODO - FILL THIS PAGE WITH APPROPRIATELY TAGGED PROJECTS