---js
const layout = "layouts/subpage.njk";

const eleventyNavigation = {
	key: "Morses Club",
	parent: "Case Studies",
        parentUrl: "/Case-Studies/"
};

const title = "Morses Club";
const subheading = "All Projects relating to Morses Club";
const intro = "Morses Club PLC was a UK consumer finance company that offered a variety of loan products including home collected credit and online lending. The company entered administration on November 17, 2023, and is no longer offering new loans."
---

{%- from 'projectCards.njk' import filteredProjects %}

{{ filteredProjects ({ 
        projectList: collections.projects,
        filter: 'morses'
     }) }}