---js
const layout = "layouts/subpage.njk";

const eleventyNavigation = {
	key: "Morses Club",
	parent: "Case Studies"
};

const title = "Morses Club";
const subheading = "...";
---

{%- from 'projectCards.njk' import filteredProjects %}

{{ filteredProjects ({ 
        projectList: collections.projects,
        filter: 'morses'
     }) }}