---js
const layout = "layouts/post.njk";
const eleventyNavigation = {
    key: "Dashboard Changes",
    parent: "E-Save",
    parentUrl: "/Case-Studies/E-Save"
};

const tags = ["project", "UXR", "case-study", "UX", "UI", "e-save"];

const title = "Dashboard Changes";
const bannerImg = "assets/images/case-studies/ESAVE/Dashboard/dashboardBanner.png"
---
{%- from 'inlineTable.njk' import inlineTable %}
{%- from 'stickyNotes.njk' import stickyNotes-%}
{%- from 'imageGallery.njk' import gallery %}
{%- from 'alpineCarousel.njk' import alpineCarousel %}
{%- from 'imageCards.njk' import imageCards %}

<img class="banner-image" src="{{bannerImg | toAbsoluteUrl}}">

<h2 id="context">Context</h2>
<div class="article-section">
    Eco Centre SW is a Somerset-based Charitable Comminity Benefit Society. 
    They are currently working on 'E-SAVE' - a web application focussed on helping people to both save money and cut their carbon emissions by guiding them towards environmentally friendly money saving practices. 
    I ran UXR Surveys on behalf of E-Save and used the results to present potential feature changes. 
    Below, you can read the presentation I created to put forth potential changes to the app's dashboard. 
</div>

<h2 id="details">Details</h2>
		{{ inlineTable ({
			table: [
				{
					header: "Scope",
					bodyItems: [
						"Volunteer work",
						"Improving design for prototype web-app"
					]
				},
				{
					header: "Role",
					bodyItems: [
						"Research",
						"UX & UI design"
					]
				},
				{
					header: "Tools",
					bodyItems: [
						"Figma",
                        "Figjam",
                        "Adobe Acrobat"
					]
				}
			]
		})
	}}
<h2 id="impact">Impact</h2>
<div class="article-section">
    The suggested feature changes were received well, but is yet to be completed, as Eco Centre SW are still looking for skilled backend and frontend code volunteers to help with E-SAVE.  
    If you think this is a role that you could fill, please visit their Reach Volunteering page, or message them via LinkedIn or their website.
    <div class="btn row">
        <a class="btn primary"
            href="https://reachvolunteering.org.uk/org/eco-centre"
            target="_blank" rel="noopener noreferrer">Reach Volunteering<i class="ri-arrow-right-s-fill"></i></a>
            <a class="btn primary"
            href="https://www.linkedin.com/company/ecocentresouthwest/?originalSubdomain=uk"
            target="_blank" rel="noopener noreferrer">LinkedIn<i class="ri-arrow-right-s-fill"></i></a>
            <a class="btn primary"
            href="https://www.ecocentresw.org/get-involved/"
            target="_blank" rel="noopener noreferrer">Contact<i class="ri-arrow-right-s-fill"></i></a>
    </div>
</div>


<h2 id="mvp-dash">MVP Dashboard Changes</h2>
<h3>What can we do right now to improve the dashboard experience?</h3>
<h3 id="og-user-flow">Original User Flow</h3>
<h4>Navigating to the dashboard</h4>
{{ gallery ({
		galleryId: "ogDashFlowGallery",
		images: [
			"assets/images/case-studies/ESAVE/Dashboard/MVP-OG-Flow.webp"
		]
	})}}
<h3 id="new-user-flow">Proposed New User Flow</h3>
<h4>Navigating to the dashboard</h4>
{{ gallery ({
		galleryId: "newDashFlowGallery",
		images: [
			"assets/images/case-studies/ESAVE/Dashboard/MVP-New-Flow.webp"
		]
	})}}
<div class="article-section">
    <h5>Logged In Users</h5>
    <ul class="list-bullet">
        <li>Already using the app - don't need to be sold on it via the homepage</li>
        <li>Want to quickly get into logging their savings - by removing a click from the equation via the logged-in conditional redirect, we take away an obstacle to that.</li>
    </ul>
</div>

<h3 id="homepage-breakdown">Homepage Breakdown</h3>

<hr>
<div class="section-row">
    <div class="row-column">
        {{ gallery ({
		galleryId: "welcomeGallery",
		images: [
			"assets/images/case-studies/ESAVE/Dashboard/Homepage-Breakdown/welcome.webp"
		]
	    })}}
        <div class="article-section">
            <h5>"Start Saving"</h5>
            <ul class="list-bullet">
                <li>Double of "Start Savings" from the dashboard</li>
                <li>Very similar to "My Savings" from the dashboard</li>
            </ul>
        </div>
    </div>
    <div class="row-column">
        {{ gallery ({
		galleryId: "pitchGallery",
		images: [
			"assets/images/case-studies/ESAVE/Dashboard/Homepage-Breakdown/pitch.webp"
		]
	    })}}
        <div class="article-section">
            <h5>E-SAVE Pitch</h5>
            <ul class="list-bullet">
                <li>Good, but large image places it below the fold</li>
                <li>Tells logged-in users to sign up</li>
                <li>Doesn't include hyperlinks or a button to take potential users to the sign up page</li>
            </ul>
        </div>
    </div>
</div>
<hr>
<div class="section-row">
    <div class="row-column">
        {{ gallery ({
		galleryId: "energySaveGallery",
		images: [
			"assets/images/case-studies/ESAVE/Dashboard/Homepage-Breakdown/energy-savings.webp"
		]
	    })}}
    </div>
    <div class="row-column">
        <div class="article-section">
            <h5>"Did You Know?"</h5>
            <ul class="list-bullet">
                <li>Like a lengthened version of Quick Energy Tips</li>
                <li>May better serve in its own section, with a prompt for the user</li>
            </ul>
        </div>
        <div class="article-section">
            <h5>"Quick Energy Tips"</h5>
            <ul class="list-bullet">
                <li>Feel most appropriate for new users and beginners</li>
            </ul>
        </div>
        <div class="article-section">
            <h5>Weekly Challenge</h5>
            <ul class="list-bullet">
                <li>Would best serve logged-in users</li>
                <li>Currently non-functional</li>
                <li>No CTA - users should be able to log their challenges</li>
            </ul>
        </div>
    </div>
</div>

<h3 id="dash-breakdown">Dashboard Breakdown</h3>
{{ alpineCarousel({ carouselId: "dashBreakdownlCarousel",
					images: [
						{src:"assets/images/case-studies/ESAVE/Dashboard/Homepage-Breakdown/og-homepage.webp"},
                        {src:"assets/images/case-studies/ESAVE/Dashboard/Homepage-Breakdown/captioned-homepage.webp"}
					]
				}) 
	}} 

{{
    imageCards({
        cards: [
            {
                titleText: '"Start Savings"',
                listItems: [
                    "Lacks Context",
                    'Placed higher in hierarchy than "My Savings", which may receive more daily use'
                ]
            },
            {
                titleText: "My Savings",
                listItems: [
                    "Sends the user elsewhere, but doesn't actually tell them anything.",
                    "If savings don't need to be logged daily, perhaps they don't belong on the dashboard."
                ]
            },
            {
                titleText: "Total Savings",
                listItems: [
                    "Placed top and central - the most important section with information that the user should see on every login"
                ]
            },
            {
                titleText: "Log-in Greeting",
                listItems: [
                    "Displays at the bottom of the page, below another welcome message.",
                    "Should be cut, or attached to the original welcome message to prevent clutter."
                ]
            },
            {
                titleText: '"Your Challenge"',
                listItems: [
                    "Different from the challenge on the homepage.",
                    "Offers no prompts or suggestions on how to complete."
                ]
            },
            {
                titleText: '"Your Reward Points"',
                listItems: [
                    "The purpose of a dashboard is to present information to the user.",
                    "By hiding the number of reward points in a different section, or behind a click, we take away from that purpose."
                ]
            }
        ]
    })
}}

<h3 id="reworked-mvp-home">Reworked Homepage</h3>
<h4>(MVP Sketch)</h4>
{{ gallery ({
		galleryId: "mvpHomeGallery",
		images: [
			"assets/images/case-studies/ESAVE/Dashboard/Homepage-Breakdown/MVPReworkedHomepage.webp"
		]
	})}}


<h3 id="reworked-mvp-dash">Reworked Dashboard</h3>
<h4>(MVP Sketch)</h4>
{{ gallery ({
		galleryId: "mvpDashGallery",
		images: [
			"assets/images/case-studies/ESAVE/Dashboard/Dash-Breakdown/MVPREworkedDash.webp"
		]
	})}}



<h2 id="dash-rethink">Rethinking The Dashboard</h2>
<h3>Encouraging passively sustainable users to become eco-frontrunners</h3>

<h3 id="sus-personas">Sustainability Personas</h3>
<h4>Adapted from KerryDigest - The Four Personas of Sustainability-minded Consumers</h4>
<div class="article-section">
    <ul class="card-list testimonials">
        <li class="card image-card">
            <h4>Inactive</h4>
            <ul class="list-bullet">
                <li>Sustainability not a key factor in making purchases</li>
                <li>Believe govt. and industry are responsible for sustainability</li>
                <li>Extrinsic sustainability - Priorities:
                    <ul>
                        <li>Natural resource preservation</li>
                        <li>Recycling</li>
                        <li>Animal/Community welfare</li>
                    </ul>
                </li>
                <li>Price & lack of intention are barriers to their sustainability.</li>
                <li>Make up 6% of sustainability-minded consumers, but are a window into the 51% of consumers who don’t currently prioritise sustainability, but could in the future.</li>
            </ul>
        </li>
        <li class="card image-card">
            <h4>Passive</h4>
            <ul class="list-bullet">
                <li>Prioritise sustainability, but lack of resources, products and planning get in the way.</li>
                <li>Extrinsic sustainability - Priorities:
                    <ul>
                        <li>Environment protection</li>
                        <li>Animal welfare</li>
                        <li>Food waste</li>
                        <li>Other similar topics</li>
                    </ul>
                </li>
                <li>Price is a key barrier to these users acting more sustainably.</li>
                <li>Make up 24% of sustainability-minded consumers.</li>
                <li>Typically older users.</li>
            </ul>
        </li>
        <li class="card image-card">
            <h4>Follower</h4>
            <ul class="list-bullet">
                <li>Sustainability is a key priority for them.</li>
                <li>Purpose-driven consumers.</li>
                <li>Transition sustainability - between extrinsic and intrinsic.
                    <ul>
                        <li>Feel that sustainability is mostly environmentally focussed, but also something that has a personal effect on them.</li>
                    </ul>    
                </li>
                <li>Lack of time and resources are the biggest barriers to their sustainability.</li>
                <li>Likely to switch to sustainable brands with an inspiring vision and purpose.</li>
                <li>Make up 23% of sustainability-minded consumers.</li>
                <li>Typically younger users.</li>
            </ul>
        </li>
        <li class="card image-card">
            <h4>Frontrunner</h4>
            <ul class="list-bullet">
                <li>Embrace the environmental, social and individual impact of sustainability.</li>
                <li>Most likely to sacrifice price, convenience and brand affinity for sustainability.</li>
                <li>Set the bar for those around them for eco-consciousness.</li>
                <li>Drive and push industries to make environmentally friendly changes.</li>
                <li>Make up 43% of sustainability-minded consumers.</li>
                <li>Exist across age-demographics, but older Millennials (late 30s, early 40s) are more likely to be in this category.</li>
            </ul>
        </li>
    </ul>
</div>
<div class="btn row">
    <a class="btn secondary" href="https://www.kerry.com/insights/kerrydigest/2021/sustainability-persona" target="_blank" rel="noopener noreferrer">
            Visit <i class="ri-arrow-drop-right-fill"></i>
    </a>
</div>


<h3 id="how-do-fit">How do they fit?</h3>
<h4>Where do these sustainability personas align with research for E-SAVE?</h4>

<h4>Inactive</h4>
<div class="article-section">
    Beginner: Maybe doing some recycling, but more focussed on other priorities.
    <h5>Relvant Observations from Test Users</h5>
</div>
{{ stickyNotes ({
			notes: [
            "This feels like it's for people who already know what they need to do to be eco friendly, but I'm a complete beginner",
            "Is it a good thing to save lots of carbon?",
            "Don't damage your washing machine? Am I not already doing that?"
        ]
    })
}}

<h4>Passive</h4>
<div class="article-section">
    Developing eco-awareness: Starting to incorporate eco-friendly practices and learning more about sustainable living.
    <h5>Relvant Observations from Test Users</h5>
</div>
{{ stickyNotes ({
			notes: [
            "These (top options) are infeasibly expensive for me. I'm a bit put off",
            "(User opened ... dropdown and sorted by cost ascending)",
            "I feel like you need to lower the barrier to entry"
        ]
    })
}}

<h4>Follower</h4>
<div class="article-section">
    Moderately eco-minded: Make conscious efforts to reduce environmental impact in daily routines.
    <h5>Relvant Observations from Test Users</h5>
</div>
{{ stickyNotes ({
			notes: [
            "I already air dry my clothes",
            "Some of these feel like daily tasks, but some of these feel like they need full guides"
        ]
    })
}}

<h4>Frontrunner</h4>
<div class="article-section">
    Very eco-minded: Actively seek out sustainable options in all aspects of life.
    <h5>Relvant Observations from Test Users</h5>
</div>
{{ stickyNotes ({
			notes: [
            "I'll immediately go for repair clothes, because I already do that",
            "Add something like 'do not buy a new smartphone if your current one isn't broken' - the metals needed for chip manufacture are very eco-costly to mine.",
            "(Repair clothes) Amount of money saved by option I picked felt much larger than expected due to other eco behaviours I already do i.e. buying less + secondhand clothing ... "
        ]
    })
}}

<h3 id="meeting-expectations">Meeting Expectations</h3>
<h4>What might users want from a dashboard?</h4>
<ul class="card-list testimonials">
    <li class="card">
        <h5>Inactive</h5>
        <p>Beginner: Maybe doing some recycling, but more focussed on other priorities.</p>
        <img src="{{ 'assets/images/case-studies/ESAVE/Dashboard/Meeting-Expectations/didyoukno.webp' | toAbsoluteUrl}}">
        <ul class="list-bullet">
            <li>Information/Tips on how sustainability affects the world around them, and how it relates to their carbon saved.</li>
        </ul>
    </li>
    <li class="card">
        <h5>Passive</h5>
        <p>Developing eco-awareness: Starting to incorporate eco-friendly practices and learning more about sustainable living.</p>
        <img src="{{ 'assets/images/case-studies/ESAVE/Dashboard/Meeting-Expectations/mysavings.webp' | toAbsoluteUrl}}">
        <ul class="list-bullet">
            <li>Easy, daily, eco-friendly actions that can be tracked instantly (think daily recycling, making a journey on foot or by bus instead of using the car).</li>
        </ul>
    </li>
    <li class="card">
        <h5>Follower</h5>
        <p>Moderately eco-minded: Make conscious efforts to reduce environmental impact in daily routines.</p>
        <img src="{{ 'assets/images/case-studies/ESAVE/Dashboard/Meeting-Expectations/yourchallenge.webp' | toAbsoluteUrl}}">
        <ul class="list-bullet">
            <li>Challenges and suggestions that will take them from Follower to Frontrunner</li>
        </ul>
    </li>
    <li class="card">
        <h5>Frontrunner</h5>
        <p>Very eco-minded: Actively seek out sustainable options in all aspects of life.</p>
        <img src="{{ 'assets/images/case-studies/ESAVE/Dashboard/Meeting-Expectations/referafriend.webp' | toAbsoluteUrl}}">
        <ul class="list-bullet">
            <li>Pushes towards some of the bigger impact options (changing home insulation, etc.)</li>
            <li>Encouragement to spread the word to others</li>
        </ul>
    </li>
</ul>
<div class="article-section">
    Screenshots taken from Homepage and Dashboard of E-SAVE in staging as of 08/10/25
</div>

<h3 id="passive-to-frontrunner">Passive to Frontrunner</h3>
<h4>A Persona-Based Approach</h4>
<div class="article-section">
    We expect that most of our users will be aligned to the Passive persona.
    Some may be aligned to the Follower persona.
    Ideally, we want to encourage all of them to move towards the Frontrunner persona.
</div>
<div class="section-row">
    <div class="row-column article-section ">
        <h5>Our Current Approach</h5>
        <ul class="list-bullet">
            <li>The Saving actions we currently show the user are presented as yearly savings
                <ul>
                    <li>This de-incentivises the user from visiting the app often</li>
                    <li>Users not visiting often puts us at risk of being forgotten.</li>
                </ul>
            </li>
            <li>We have a weekly challenge section that isn’t currently working.
                <ul>
                    <li>Will just one weekly challenge be enough to keep people returning to us?</li>
                </ul>
            </li>
            <li>Users must find all saving actions by themselves.
                <ul>
                    <li>They could be overwhelmed by choice.</li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="row-column article-section ">
        <h5>An Approach that may reach this goal</h5>
        <ul class="list-bullet">
            <li>Providing the user with multiple weekly - or even daily - saving actions.</li>
            <li>Emphasis on challenges and goals.</li>
            <li>Rewarding users for small eco-wins that bit-by-bit build up to bigger changes.</li>
            <li>Presenting possible new saving actions to the end-user before they dive into the categories.</li>
        </ul>
    </div>
</div>

<h3 id="p-t-f-how">How Does It Work?</h3>
<h4>Implementing the push from passive to frontrunner</h4>
{{
    imageCards({
        cards: [
            {
                img: {
                    src: "assets/images/case-studies/ESAVE/Dashboard/PassiveToFront/calendar.webp" ,
                    alt: "calendar icon"
                },
                titleText: "Weekly/Daily Saving Actions",
                listItems: [
                    "Users regularly visit the app for rewards",
                    "Builds a simple association: eco-friendly action = reward",
                    "Repetition re-enforces the idea"
                ],
                listStyle: "list-bullet"
            },
            {
                img: {
                    src: "assets/images/case-studies/ESAVE/Dashboard/PassiveToFront/target.webp" ,
                    alt: "target icon"
                },
                titleText: "Challenges & Goals",
                listItems: [
                    "Celebrate small wins with the user",
                    "These could become slightly more challenging over time",
                    "Eases the user into making more eco-friendly choices",
                    "Again, re-enforces an association between eco-friendly actions and feeling good"
                ],
                listStyle: "list-bullet"
            },
            {
                img: {
                    src: "assets/images/case-studies/ESAVE/Dashboard/PassiveToFront/medal.webp" ,
                    alt: "medal icon"
                },
                titleText: "Rewarding small wins",
                listItems: [
                    "Showing the user the savings they have made building up gradually may encourage them to take on bigger saving actions",
                    "For example: £120 is a large, but reachable number in terms of savings. They could use the money they've saved to Install Thermostatic Radiator Valves, saving even more next year."
                ],
                listStyle: "list-bullet"
            },
            {
                img: {
                    src: "assets/images/case-studies/ESAVE/Dashboard/PassiveToFront/speech.webp" ,
                    alt: "speech bubble icon"
                },
                titleText: "Suggested Actions",
                listItems: [
                    "Gives new users an immediate direction to go in, and an introduction to our card system",
                    "Experienced users won't stagnate in their eco habits - encouraged to try something new"
                ],
                listStyle: "list-bullet"
            }
        ],
        width: "testimonials"
    })
}}

<h2 id="small-scale-change">Smaller-Scale Changes</h2>
<h3>Expanding on features to encourage exploratory behaviour in users</h3>

<h3 id="rethink-challenges">Rethinking: Challenges</h3>
<h4>(Presumed new flow implemented)</h4>

{{ gallery ({
	galleryId: "challengesGallery",
	images: [
		"assets/images/case-studies/ESAVE/Dashboard/Small-Scale/weeklyChallengeWire.webp"
	]
})}}
{{
    imageCards({
        cards: [
            {
                titleText: "Weekly Challenge",
                listItems: [
                    "Limited time option takes priority, so sits on top."
                ]
            },
            {
                titleText: "Saves/Reward",
                listItems: [
                    "Clear labelling so the user knows the environmental and personal benefits at a glance."
                ]
            },
            {
                titleText: '"Log This Challenge"',
                subtitle: "Temp. Wording",
                listItems: [
                    "Button label and link may be challenge-dependent.",
                    "In this case, perhaps it takes the user to a short-form where they fill out what devices they unplugged."
                ],
                listStyle: "list-bullet"
            },
            {
                titleText: "Make More Savings",
                listItems: [
                    "Link could change depending on challenge e.g. Could have a cooking or household waste theme."
                ]
            }
        ],
        width: "testimonials"
    })
}}
    
<h4>Things to think on:</h4>
<div class="article-section">
    <ul class="list-bullet">
        <li>The "Your Next Challenge" (Previously "Your Challenge") section appears to be most useful to new users.</li>
        <li>Can users run out of challenges?</li>
        <li>What will happen to this section if they do?</li>
    </ul>
</div>

<h3 id="rethink-start-savings">Rethinking: Start Savings</h3>
<h4>Helping users find new actions</h4>


<div class="section-row">
    <div class="row-column">
        {{ gallery ({
		galleryId: "newStartSavingsGallery",
		images: [
			"assets/images/case-studies/ESAVE/Dashboard/Small-Scale/newStartSaving.webp"
		]
	    })}}
    </div>
    <div class="row-column">
{{
    imageCards({
        cards: [
            {
                titleText: "As of now",
                listItems: [
                    "Users are expected to find all new savings actions by themselves",
                    "This means looking through potentially all categories and actions to find something they can do"
                ],
                listStyle: "list-bullet"
            },
            {
                titleText: "What this feature could be",
                listItems: [
                    "User is shown at least one action card they haven't tried before (an action not present in My Savings) on the dashboard",
                    "Actions shown depend on the user's profile"
                ],
                listStyle: "list-bullet"
            },
            {
                titleText: 'What are the benefits?',
                listItems: [
                    "Some friction taken away from the user finding new actions to try",
                    'Allows you to provide a "starting point" for new users',
                    "Users may be encouraged to try actions and browse categories that they would have been more hesitant to look at"
                ],
                listStyle: "list-bullet"
            }
        ],
        width: "full-width"
    })
}}
    </div>
</div>

<h2 id="full-scale-changes">Full-Scale Changes</h2>
<h3>Reworking saving actions to build consistent habits in users</h3>

<h3 id="rethink-my-savings">Rethink: My Savings</h3>
<h4>A Look at our "low-commitment" actions</h4>
{{ gallery ({
		galleryId: "fullSavingsGallery",
		images: [
			"assets/images/case-studies/ESAVE/Dashboard/Full-Scale/Rethink-My-Savings.webp"
		]
	})}}

        {{
    imageCards({
        cards: [
            {
                subtitle: "What is a low-commitment action?",
                listItems: [
                    "An action that requires minimal effort, cost or lifestyle change",
                    "An action that could be performed regularly",
                    "An action that can be performed continuously as a habit"

                ],
                listStyle: "list-bullet"
            },
            {
                subtitle: "What changes?",
                listItems: [
                    "Smaller amounts of monetary and CO₂ savings",
                    'Users have the option to "tick off" this action without going through all screens or multiple steps.'
                ],
                listStyle: "list-bullet"
            },
            {
                subtitle: 'What are the benefits?',
                listItems: [
                    "Users return to the app on a more regular basis",
                    'Users are encouraged to build daily eco habits',
                    "Users see the benefits building in real time",
                    "We rely less on user memory and the honour system for these tasks and are able to track them in more detail"
                ],
                listStyle: "list-bullet"
            }
        ]
    })
}}

<h4 id="og-action-flow">Original User Flow</h3>
<h4>Repeating a "low commitment" action</h4>
{{ gallery ({
		galleryId: "ogLoCoFloGal",
		images: [
			"assets/images/case-studies/ESAVE/Dashboard/Full-Scale/og-lo-co-flo.webp"
		]
	})}}

<h4 id="new-action-flow">Proposed New User Flow</h3>
<h4>Repeating a "low commitment" action</h4>
{{ gallery ({
		galleryId: "nuLoCoFloGal",
		images: [
			"assets/images/case-studies/ESAVE/Dashboard/Full-Scale/nu-lo-co-flo.webp"
		]
	})}}

<h3 id="rethink-high-savings">Rethink: My Savings</h3>
<h4>A look at "high-commitment" actions</h4>
        {{ gallery ({
		galleryId: "nuHighComGal",
		images: [
			"assets/images/case-studies/ESAVE/Dashboard/Full-Scale/high-com-action.webp"
		]
	    })}}

                {{
                    imageCards({
                        cards: [
                            {
                                subtitle: "What is a high commitment action?",
                                listItems: [
                                    "An action that requires a high amount of effort, costs, or lifestyle changes",
                                    "An action that is likely only to be performed once or twice in total by the user",
                                    "An action with multiple steps and stages that takes more than a single day to perform."

                                ],
                                listStyle: "list-bullet"
                            },
                            {
                                subtitle: "What changes?",
                                listItems: [
                                    "“High-commitment” actions are split into multiple stages, rather than being monolithic",
                                    'Users can “tick off” action stages right from the dashboard',
                                    "Reward points may be offered for action stages if desired, but financial and CO₂ savings cannot be recorded until entire action is complete"
                                ],
                                listStyle: "list-bullet"
                            },
                            {
                                subtitle: 'What are the benefits?',
                                listItems: [
                                    "Checkbox stages display below daily actions, so they serve as a daily reminder of what needs to be done next",
                                    'Task is broken down into smaller stages, making it feel more manageable for the user',
                                    "Users see the benefits building in real time",
                                    "We rely less on user memory and the honour system for these tasks and are more able to track them."
                                ],
                                listStyle: "list-bullet"
                            }
                        ]
                    })
                }}


<h4 id="og-save-flow">Original User Flow</h4>
<h5>Performing a "high-commitment" action</h5>
{{ gallery ({
		galleryId: "ogHiComFloGal",
		images: [
			"assets/images/case-studies/ESAVE/Dashboard/Full-Scale/og-high-com-flo.webp"
		]
	})
}}

<h4 id="new-save-flow">Proposed New User Flow</h4>
<h5>Performing a "high-commitment" action</h5>
{{ gallery ({
		galleryId: "nuHiComFloGal",
		images: [
			"assets/images/case-studies/ESAVE/Dashboard/Full-Scale/nu-high-com-flo.webp"
		]
	})
}}

<h2 id="put-it-all-together">Putting it all together</h2>
<h3>Combining all feature suggestions into a single dashboard</h3>

<h3 id="reworked-dash-sketch">Reworked Dashboard Sketch</h3>
<h4>All proposed changes implemented</h4>

{{ alpineCarousel({ carouselId: "reworkCarousel",
					images: [
						{src:"assets/images/case-studies/ESAVE/Dashboard/ReworkedDashSketch.webp",
						caption: "Click to view full sketch"}
					],
                    orientation: "slides-vert"
				}) 
	}} 
