---js
const layout = "layouts/subpage.njk";

const eleventyNavigation = {
	key: "E-Save",
	parent: "Current Work"
};

const title = "Meet the Team";
const subheading = "Meet our dedicated volunteers, working hard to keep Give and Grow running!";
---