---js
const layout = "layouts/subpage.njk";

const eleventyNavigation = {
	key: "E-Save",
	parent: "Current Work"
};

const title = "E Save";
const subheading = "...";
---

{#TODO CHANGE PARENT TO CASE STUDIES#}
{#TODO SHORT INTRODUCTION EXPLAINING THAT THIS IS AN OPEN LOOK AT THE UX REPORT CREATED FOR ESAVE#}
{#TODO BUTTON LINKS TO ESAVE LINKED IN, VOLUNTEERING PAGE, ETC #}
{#TODO CALLOUT FOR DESIGNERS PROGRAMMERS ETC#}
{#TODO ADD SLIDES TO WEB #}