---
layout: layouts/base.njk
---

<div class="homepage-hero">
    <h1>{{title}}</h1>
    <h2>
        <a class="btn transparent" href="#WIP">Design</a>
        <p> & </p>
        <a class="btn transparent" href="#WIP">Development</a>
    </h2>
</div>

<div class="content">
    {{ content | safe }}
</div>