---
layout: layouts/base.njk
---
{# Only include the syntax highlighter CSS on blog posts, included with the CSS per-page bundle #}
<style>{% include "node_modules/prismjs/themes/prism-okaidia.css" %}</style>
<style>{% include "css/prism-diff.css" %}</style>

<div class="article-header">
    <h1>{{ title }}</h1>
    <div class="post-metadata-container">
        <ul class="post-metadata">
                        <li class="date"><time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time></li>
                        <li>Tags:</li>
                        {%- for tag in tags | filterTagList %}
                        {%- set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
                        <li class="tag"><a href="{{ tagUrl }}" class="post-tag">{{ tag }}</a>{%- if not loop.last %}, {% endif %}</li>
                        {%- endfor %}
        </ul>
    </div>
</div>

<div class="article-container">
    <aside>
        {% if eleventyNavigation.parent %}
            <a href="{{eleventyNavigation.parentUrl | toAbsoluteUrl }}" class="btn primary"><i></i>Back to {{eleventyNavigation.parent}}</a>
        {% endif %}
        <div class="toc-container" id="tocID">
            <h3>Contents</h3>
            {{ content | toc | safe }}
        </div>
    </aside>
    <div class="content">
        {{content | safe }}
    </div>
        
</div>

<div class="meta-container">
    {%- if collections.projects %}
            {%- set previousPost = collections.projects | getPreviousCollectionItem %}
            {%- set nextPost = collections.projects | getNextCollectionItem %}
            {%- if nextPost or previousPost %}
            <ul class="links-nextprev">
                {%- if previousPost %}
                <a href="{{ previousPost.url }}">
                    <li class="card links-nextprev-prev">
                        <i class="ri-arrow-left-s-fill"></i>
                        <div>
                            <h4>Previous</h4>
                            <h5>{{ previousPost.data.title }}</h5>
                        </div>
                    </li>{% endif %}
                </a>
                {%- if nextPost %}
                <a href="{{ nextPost.url }}">
                    <li class="card links-nextprev-next">
                        <div>
                            <h4>Next</h4>
                            <h5>
                                {{ nextPost.data.title }}
                            </h5>
                        </div>
                        <i class="ri-arrow-right-s-fill"></i>
                    </li>
                </a>
                
                {% endif %}
            </ul>
        {%- endif %}
    {%- endif %}
</div>

<div class="toc-reveal"> <!--reveals the table of contents on mobile-->
	<button class="btn primary toc-reveal__btn"><i class="ri-list-unordered"></i></button> <!--TODO: CREATE ACTION TO REVEAL TOC ON MOB-->
</div> 


<div class="scroll-top"> <!--scrollbar at the end of the main-->
	<a class=" btn primary scroll-top__link" href="#"><i class="ri-arrow-up-s-line"></i></a> <!--href="#" navigate to the top of the page-->
</div> 



<script>

	var potentialDropdowns = document.querySelectorAll("nav.toc ol li");
    var potentialDropdownsCopy = Array.from(potentialDropdowns);

    function hasChildren(obj, index, arr) {
        return obj.children.length > 1;
    }

	var listsWithKids = potentialDropdownsCopy.filter(hasChildren);
    console.log(listsWithKids);

    listsWithKids.forEach(element => {
        element.classList.add("contentParent");
        element.classList.add("closed");

        //wrap "opener link" in a summary parent tag
        let linkChild = element.firstChild;
        $(linkChild).wrap('<div class="toc_nav_link"></div>');
        $('<i class="ri-arrow-down-s-fill"></i>').insertBefore(linkChild);

        //provide function to the parent tag
        linkChild.parentNode.addEventListener("click", function() {
            element.classList.toggle("closed");
        });
    });

    var tocLinks = document.querySelectorAll("nav.toc a");
    tocLinks.forEach(element => {
        element.classList.add("toc-link");
    })

    ;(function($) {
         $('.swipebox').swipebox();
      }) (jQuery);

      $(document).ready(function(){

        $('.toc-reveal__btn').click(function() {
        $("#tocID").toggleClass('open');
        });

        $('.toc-link').click(function() {
        $("#tocID").toggleClass('open');
        });
      })
      
</script>
