---
layout: layouts/base.njk
---

        <div class="hero">
            <div class="heroLeft">
                {% if heroUpperHeading %}
                <h2>{{ heroUpperHeading}}</h2>
                {% endif %}
                <h1>{{ title }}</h1>
                {%if subheading %}
                <h3>{{ subheading | safe}}</h3>
                {% endif %}
                {% if heroBtn %}
                    {% if heroBtn.sectionLink %}
                        <a href="{{heroBtn.sectionLink}}" class="btn secondary hug-content">
                            {{heroBtn.txt}}
                            {% if heroBtn.icon %}
                            <i class="{{heroBtn.icon}}"></i>
                            {% endif %}
                        </a>
                    {% else %}
                        <a href="{{heroBtn.link | toAbsoluteUrl }}" class="btn secondary hug-content">
                            {{heroBtn.txt}}
                            {% if heroBtn.icon %}
                            <i class="{{heroBtn.icon}}"></i>
                            {% endif %}
                        </a>
                    {% endif %}
                {% endif %}
            </div>
            <div class="heroRight">
                <img src="{{heroImagePath}}" alt="{{heroImageAlt}}"/>
                {% block heroRight %}{% endblock %}
            </div>
        </div>

        <div class="content">
            {{ content | safe }}
        </div>
        