---
layout: layouts/base.njk
---

<div class="subpage-banner">
    <div class="banner-text">
        <h1>{{ title }}</h1>
        <h3 class="subheading">{{ subheading }}</h3>
        {%if intro%}
        <div class="article-container article-section">
            {{intro | safe}}
        </div>
        {%endif%}
    </div>
</div>

<div class="article-container">
    <aside>
        {% if eleventyNavigation.parent %}
            <a href="{{eleventyNavigation.parentUrl | toAbsoluteUrl }}" class="btn primary"><i></i>Back to {{eleventyNavigation.parent}}</a>
        {% endif %}
        {{ content | toc | safe }}
    </aside>
    <div class="content">
        {{content | safe }}
    </div>
</div>

<div class="scroll-top"> <!--scrollbar at the end of the main-->
	<a class=" btn primary scroll-top__link" href="#"><i class="ri-arrow-up-s-line"></i></a> <!--href="#" navigate to the top of the page-->
</div> 

<script>

	var potentialDropdowns = document.querySelectorAll("nav.toc ol li");
    var potentialDropdownsCopy = Array.from(potentialDropdowns);

    function hasChildren(obj, index, arr) {
        return obj.children.length > 1;
    }

	var listsWithKids = potentialDropdownsCopy.filter(hasChildren);
    console.log(listsWithKids);

    listsWithKids.forEach(element => {
        element.classList.add("contentParent");
        element.classList.add("closed");

        //wrap "opener link" in a summary parent tag
        let linkChild = element.firstChild;
        $(linkChild).wrap('<div class="toc_nav_link"></div>');
        $('<i class="ri-arrow-down-s-fill"></i>').insertBefore(linkChild);

        //provide function to the parent tag
        linkChild.parentNode.addEventListener("click", function() {
            element.classList.toggle("closed");
        });
    });
</script>
